{% extends layout %}
{% load staticfiles %}
{% block content %}

    <div class="container-fluid p-0">
        <div class="row justify-content-center choose_blk">
            <div class="col-12 col-sm-12 col-md-11 col-lg-9 col-xl-8">
                <div class="row pt-4 justify-content-between">
                    <div class="col">
                        <a href="{% url 'Profile_settings' %}" class="back"><i class="fas fa-arrow-left"></i> Назад в профиль</a>
                    </div>
                    <div class="col-auto">
                        <button class="rate-perform_btn pl-3 pr-3" id="save_pro_week">Купить на неделю</button>
                        <button class="pro_month pl-3 pr-3" id="save_pro_month">Купить на месяц</button>
                    </div>
                </div>
                <div class="row pt-4">
                    <label class="mb-0 w-100" style="word-wrap: break-spaces">
                        Выберите 3 подкатегории для которых хотите подключить Pro и нажмите на кнопку "Купить"!
                    </label>
                </div>
                <input type="hidden" id="bonus_count" value="{{user.bonus_balance}}">
                <input type="hidden" id="price_week" value="{{price_week}}">
                <input type="hidden" id="price_month" value="{{price_month}}">
                <div class="row pb-5 pt-4">
                    <div class="col-12 d-flex justify-content-center main-accordion_blk">
                        <div class="inner-accordion_blk" id="profile_list_pro">
                            {% for i in category %}
                                {% if i.is_exist_user == True %}
                                <div class="panel">
                                    <div class="panel-heading mb-1">
                                        <p>{{ i.name }}</p>
                                    </div>
                                    <div class="panel-collapse">
                                        <div id="collapseOne" class="row collapse show" aria-labelledby="headingOne"
                                             data-parent="#accordionExample">
                                             <div class="row w-100 justify-content-end mr-sm-2 fz_1rem" style="    float: right;
    padding: 10px 0px 10px 10px;">
                                                    </div>
                                            <div class="row w-100">
                                                {% for j in i.all_sub %}
                                                {% if j.id in user_sub_list %}
                                            <div class="col-12 col-lg-6 px-1 px-sm-5 pb-0 pt-0 card-body">
                                                    <div class="custom-control custom-checkbox mr-sm-2 pt-2">
                                                        <input type="checkbox"
                                                               class="custom-control-input"
                                                               id="check_input_{{ j.id }}"
                                                        >
                                                        <label class="custom-control-label pl-1 pl-sm-3"
                                                               for="check_input_{{ j.id }}"
                                                               data-toggle="tooltip" data-placement="bottom"
                                                               title="">{{ j.name }}</label>
                                                    </div>

                                            </div>
                                                {% endif %}
                                                {% endfor %}
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
<div class="col-12" id="alerts-block">
<!--                    <div class="row justify-content-center">-->
<!--                        <div class="alert alert-danger error-city" role="alert" id="alert-success">-->
<!--                            Успешно.-->
<!--                        </div>-->
<!--                    </div>-->
                </div>

{% endblock %}