{% extends layout %}
{% load staticfiles %}
{% block content %}

    <div class="container-fluid p-0">
        <div class="row justify-content-center my-4">
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                <div class="row">
                    <div class="col-12 p-2">
                        <div class="row mb-5 mt-3 chat_blk">
                            <div class="col-2 col-md-2 col-lg-1 p-0 p-md-3 p-lg-2 align-self-center">
                                <div class="row justify-content-between justify-content-md-start">
                                    <img alt="" class="img-fluid" src="/static/image/user_profile.png">
                                </div>
                            </div>
                            <div class="col-10 col-md-10 col-lg-11 align-self-center mt-2">
                                <div class="row justify-content-start justify-content-md-start">
                                    <h1>{{ with_user.first_name }} {{ with_user.last_name }}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="line_blk m-0 mb-5">
                    <div class="row justify-content-center w-100">
                        <input type="text" id="message" placeholder="Введите сообщение">
                        <input type="hidden" id="from_user" value="{{ user_id }}">
                        <input type="hidden" id="to_user" value="{{ with_user.id }}">
                        <button id="send_message">Send</button>
                    </div>
                </div>
                <div class="row mb-5 mt-3 chat_blk" id="chat">


                    {% for i in user_mess %}

                        {% if i.from_user_id == with_user.id %}
                            <div class="col-12 p-0 user-message">
                                <div class="row justify-content-start">
                                    <div class="message-card px-4 py-3 mb-3">
                                        <p class="a-left mb-2">{{ i.text }}</p>
                                        <p class="a-right"><span>{{ i.date }}</span></p>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-12 p-0 others-message">
                                <div class="row justify-content-end">
                                    <div class="message-card px-4 py-3 mb-3">
                                        <p class="a-left mb-2">{{ i.text }}</p>
                                        <p class="a-right"><span>{{ i.date }}</span></p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}