{% extends layout %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid p-0">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-0 settings-blk  pt-5 pb-3">
            <div class="row pl-2 pr-2 m-0 justify-content-center">

                <div class="row">
                    <div class="col-auto p-0">
                        <select class="custom-select task_filter_select" id="task_filter_select">
                            {% if filter == 0 %}
                            <option selected value="0">Все типы</option>
                            {% else %}
                            <option value="0">Все типы</option>
                            {% endif %}
                            {% for i in cats %}
                            {% if filter|lower == i|lower %}
                            <option selected
                                    value="{{ i }}">{{ i }}</option>
                            {% else %}}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endif %}
                            {% endfor %}
                            {#                                        {% for task in task_categ %}#}
                            {#                                            {% if filter == ads.subcategories.name %}#}
                            {#                                                <option selected#}
                                                                                      {#                                                        value="{{ task.subcategories.name }}">{{ task.subcategories.name }}</option>#}
                            {#                                            {% else %}}#}
                            {#                                                <option value="{{ task.subcategories.name }}">{{ task.subcategories.name }}</option>#}
                            {#                                            {% endif %}#}
                            {#                                        {% endfor %}#}
                        </select>
                    </div>
                </div>
                <div class="row m-0 justify-content-start">
                    {% for t in task %}
                    <div class="col-12 p-0">
                        <div class="row">
                            <div class="col-8 col-sm-10 col-md-2 col-lg-2 col-xl-2 p-2 mx-auto">
                                {% if t.photo_main != None %}
                                <img alt="" class="w-100 user-advert-img"
                                     src="{{ MEDIA_URL }}{{ t.photo_main.url }}">
                                {% endif %}
                            </div>
                            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 pl-2 pr-md-0 pr-lg-2 pr-0 pt-2 mx-auto">
                                <div class="row justify-content-center justify-content-sm-center justify-content-md-between align-items-center mb-2">
                                    <a href="#!">
                                        <h3 class="category-card_label m-0">{{ t.title }}</h3>
                                    </a>
                                </div>
                                <div class="row justify-content-start align-items-center pt-2">
                                    <p class="w-100 mb-0 pr-0 advert-card_text mb-2 textrowcount">{{ t.description }}</p>
                                    <span>{{ t.date }}</span>
                                </div>
                            </div>
                            <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3 p-1 mx-auto">
                                <div class="row justify-content-around justify-content-sm-around justify-content-md-center align-content-center align-items-center pt-4">
                                    <label class="category-money_label p mb-2">{{ t.pay }} руб.</label>
                                </div>
                            </div>
                            <hr class="category-line m-0 my-4">
                        </div>
                    </div>
                    {% endfor %}
                </div>


            </div>
        </div>


    </div>
</div>

{% endblock %}