{% extends layout %}
{% load staticfiles %}
{% block content %}

    <div class="container-fluid p-0">
        <div class="row justify-content-center my-4">
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                <div class="row mb-5 mt-3 user-message_blk">

                    {% for i in user_mess %}
                        <div class="col-12 p-2 user-message_item {% if i.is_show %}user-message_read{% else %}user-message_unread{% endif %}">
                            <div class="row">
                                <div class="col-2 col-md-2 col-lg-1 p-0 p-md-3 p-lg-2 align-self-center">
                                    <div class="row justify-content-between justify-content-md-start">
                                        <img alt="" class="img-fluid" src="{{ i.get_photo.url }}">
                                    </div>
                                </div>
                                <div class="col-10 col-md-10 col-lg-11 align-self-center">
                                    <div class="row justify-content-start justify-content-md-start">
                                        <div class="col-8 col-md-6 a-left p-0">

                                            {% if i.from_user.id == user_id %}
                                                <a href="{% url 'Chat' i.to_user.id %}">
                                                    <h1>{{ i.to_user.first_name }} {{ i.to_user.last_name }}</h1>
                                                </a>
                                            {% else %}
                                                <a href="{% url 'Chat' i.from_user.id %}">
                                                    <h1>{{ i.from_user.first_name }} {{ i.from_user.last_name }}</h1>
                                                </a>
                                            {% endif %}

                                        </div>
                                        <div class="col-4 col-md-6 p-0 px-md-3 a-right">
                                        <div class="count_mess" data-res="{% if i.from_user.id == user_id %}{{ i.to_user.id }}{% else %}{{ i.from_user.id }}{% endif %}">msg:{{ i.get_count_messages }}</div>
                                            {% if i.is_show %}
                                                {% if i.date.date == today %}
                                                    <span>Сегодня в {{ i.date.time }}</span>
                                                {% else %}
                                                    <span>{{ i.date|date:'d E' }} в {{ i.date.time }}</span>
                                                {% endif %}
                                            {% else %}

                                                {% if i.date.date == today %}
                                                    <span><b>Сегодня в {{ i.date.time }}</b></span>
                                                {% else %}
                                                    <span><b>{{ i.date|date:'d E' }} в {{ i.date.time }}</b></span>
                                                {% endif %}
                                            {% endif %}
                                    </div>

                                    {% if i.is_show %}
                                        {% if i.get_last_message.id == user_id %}
                                            <p class="message-text m-0 pt-1">Вы: {{ i.get_last_message.text }}</p>
                                        {% else %}
                                            <p class="message-text m-0 pt-1">{{ i.get_last_message.text }}</p>
                                        {% endif %}
                                    {% else %}
                                        <p class="message-text m-0 pt-1"><b>{{ i.text }}</b></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        </div>
                        {% if not forloop.last %}
                            <hr class="line_blk m-0">
                        {% endif %}
                    {% endfor %}

            </div>
        </div>
    </div>
    </div>

{% endblock %}