{% extends layout %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid p-0">
    <div class="row justify-content-center profile-verif_blk">
        <div class=" w-100 profile-verif_hdr_bg">
            <div class="offer_hdr_bg_layout row justify-content-center align-items-center">
                <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 mt-5">
                    <div class="col-4 col-md-2 col-lg-2 col-xl-2 py-2 mx-auto user-img_blk">
                        <img alt="" class="w-100 user-advert-img" src="{{MEDIA_URL}}{{user.photo.url}}">
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12 pb-2 text-center">
                        <h1 class="m-0 fz_2rem">{{user.auth_user.first_name}} {{user.auth_user.last_name}}</h1>
                        <div class="row justify-content-center align-items-center">
                            <div class="small-circle"></div>
                           {% for c in user_city %}
                                <label class="fz_12rem mt-2">{{c.city.name}}</label>
                                <div class="small-circle"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-10 col-lg-9 col-xl-9 mx-auto mt-4 p-0">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" href="#about">О себе</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#portfolio">Портфолио</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#ads">Объявления</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#reviews">Отзывы</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center profile-verif_blk my-5">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
            <div class="row m-0 justify-content-start">
                <div class="col-12 p-0">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12 p-0">
                            {% for s in user_sub %}
                            <span class="badge">{{s.subcategories.name}}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-8 col-xl-9 p-0">
                            <p class="profile_para">{{user.about_me}}</p>
                        </div>
                        <div class="col-10 col-sm-10 col-md-5 col-lg-4 col-xl-3 p-1 mx-auto">
                            <div class="row justify-content-center justify-content-md-center justify-content-lg-end align-content-end align-items-end">
                                <a href="{% url 'Profile_adverts' user.auth_user.id %}">
                                    <button class="propose_btn">Предложить работу</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="line_blk m-0 my-4">
                <div class="col-12 p-0">
                    <div class="row justify-content-md-around justify-content-lg-center icons-blk">
                        <div class="col-12 col-md-3 col-lg-3 col-xl-2 mx-xl-5 p-1">
                            <div class="row justify-content-around justify-content-md-center align-content-center align-items-center pt-2">
                                    <div class="text-center ellipse mx-auto">
                                        <img alt="" class="img-fluid" src="/static/image/secure-icon.png">
                                    </div>
                                    <div class="col-12 text-center p-0">
                                        <label class="text-center m-0 mt-2">Проверенный пользователь</label><br>
                                        <span class="">с {{user.verify_date}}</span>
                                    </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3 col-xl-2 mx-xl-5 p-1">
                            <div class="row justify-content-around justify-content-md-center align-content-center align-items-center pt-2" data-toggle="tooltip" data-placement="bottom"
                                             title="{{sub_task_list}}">
                                    <div class="text-center ellipse mx-auto">
                                        <img alt="" class="img-fluid" src="/static/image/task-icon.png">
                                    </div>
                                    <div class="col-12 text-center p-0">
                                        <label class="text-center m-0 mt-2">Выполненные задания</label><br>
                                        <a class="text-center" href="#">
                                            <span class="">в {{sub_task_close|length}} подкатегориях</span>
                                        </a>
                                    </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3 col-xl-2 mx-xl-5 p-1">
                            <div class="row justify-content-around justify-content-md-center align-content-center align-items-center pt-2">
                                <div class="text-center ellipse mx-auto">
                                    <img alt="" class="img-fluid" src="/static/image/ad-icon.png">
                                </div>
                                <div class="col-12 text-center p-0">
                                        <label class="text-center m-0 mt-2">Опубликованные объявления</label><br>
                                        <a class="text-center" href="#">
                                            <span class="">в 4 категориях</span>
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="line_blk m-0 my-4">
                <div class="col-12 p-0">
                    <div class="row portfolio-photos_blk">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12 pb-4 text-center">
                            <a class="anchor" id="portfolio"></a>
                            <h2  class="m-0 fz_2rem">
                                <a class="header_underline" href="#">Портфолио</a>
                            </h2>
                        </div>
                        {% for p in portfolio %}
                                 <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 img_wrapper  d-inline-block p-2">
                                     <div class="photo">
                                         <a href="{{MEDIA_URL}}{{p.photo.url}}" data-lightbox="roadtrip">
                                             <img class="w-100" src="{{MEDIA_URL}}{{p.photo.url}}" alt="Eagle" />
                                         </a>
                                     </div>
                                </div>
                            {% endfor %}
                    </div>
                </div>
                <hr class="line_blk m-0 my-4">
                <div class="col-12 p-0">
                    <div class="row ads_blk">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12 pb-5 text-center">
                            <a class="anchor" id="ads"></a>
                                <h2  class="m-0 fz_2rem">
                                    <a class="header_underline" href="#">Объявления</a>
                                </h2>
                        </div>
                        {% for a in advert %}
                        <div class="col-12 p-0">
                            <div class="row">
                                <div class="col-8 col-sm-10 col-md-2 col-lg-2 col-xl-2 p-2 mx-auto">
                                    {% if a.photo_main != None and a.photo_main != "" %}
                                    <img alt="" class="w-100 user-advert-img" src="{{MEDIA_URL}}{{a.photo_main.url}}">
                                    {% else %}
                                    <div class="row justify-content-center align-items-center bg-gray">
                                        <span class="alt-text">Без фото</span>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 pl-2 pr-md-0 pr-lg-2 pr-0 pt-2 mx-auto">
                                    <div class="row justify-content-center justify-content-sm-center justify-content-md-between align-items-center mb-2">
                                        <a href="{% url 'Adverts_detail' a.id %}">
                                            <h3 class="category-card_label m-0">{{a.title}}</h3>
                                        </a>
                                    </div>
                                    <div class="row justify-content-start align-items-center pt-2">
                                        <p class="mb-0 pr-0 advert-card_text pb-2 textrowcount">{{a.description}}</p>
                                        <span>{{a.date}}</span>
                                    </div>
                                </div>
                                <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3 p-1 mx-auto">
                                    <div class="row justify-content-around justify-content-sm-around justify-content-md-center align-content-center align-items-center pt-0">
                                        <label class="category-money_label mb-2">{{a.price}} руб.</label>
                                    </div>
                                </div>
                                <hr class="category-line m-0 my-4">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row reviews_blk">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12 pb-4 text-center">
                            <a class="anchor" id="reviews"></a>
                            <h2  class="m-0 fz_2rem">
                                <a class="header_underline" href="#">Отзывы</a>
                            </h2>
                        </div>
                        <div class="col-6 col-md-3 col-lg-3 col-xl-2 p-1">
                            <div class="row justify-content-around justify-content-md-center align-content-center align-items-center pt-2">
                                <span class="col-12 text-center reviews_span">{{user_comment|length}}</span>
                                <label class="reviews_label mb-2">отзывов</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-3 col-xl-2 p-1">
                            <div class="row justify-content-around justify-content-md-center align-content-center align-items-center pt-2 pl-2 settings-rew_blk">
                                <span class="col-12 text-center reviews_span">{{com_percent}}%</span>
                                <label class="reviews_label mb-2">положительных</label>
                            </div>
                        </div>
                        <div class="col-8 col-md-4 col-lg-3 col-xl-3 p-1">
                            <div class="row justify-content-start justify-content-md-start align-content-center align-items-center pt-md-2 pl-3 settings-rew_blk">
                                <label class="reviews_label w-100 my-2 ">качество работы: <span class="pl-2">{{quality_percent}}%</span></label>
                                <label class="reviews_label w-100 mb-2">вежливость: <span class="pl-2">{{politeness_persent}}%</span></label>
                                <label class="reviews_label w-100 mb-2">пунктуальность: <span class="pl-2">{{punctuality_persent}}%</span></label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="line_blk m-0 my-4">
                {% for c in user_comment %}
                <div class="col-12 p-0 mb-3">
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="row col-bg-gray p-2 p-md-3" >
                        {% else %}
                             <div class="row p-2 p-md-3" >
                        {% endif %}
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>{{c.customer.first_name}} {{c.customet.lest_name.0}}.</h4>
                                <span class="profile-span pt-1 pl-3">{{c.date}}</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">{{c.text}}</p>
                                <span class="prof-span">{{c.task.title}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>



</div>

{% endblock %}