{% extends layout %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid p-0">
    <div class="row justify-content-center choose_blk pt-3 pb-5">
        <div class="col-12 col-sm-12 col-md-11 col-lg-9 col-xl-8 pt-4">
           <form action="{% url 'Save' %}" method="post" enctype="multipart/form-data">
               {% csrf_token %}
            <div class="row align-items-center">
                <div class="col-9 col-sm-2 col-md-2 p-2 mx-auto">
                    <img src="{{MEDIA_URL}}{{user.photo.url}}" class="w-100 user-img" alt="">
                </div>
                <div class="col adverts-add_blk">
                    <input type="file" id="files" name="files">
                </div>
            </div>
             <div class="row">
                 <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
                     <label class="col-sm-3 col-form-label px-0">Имя</label>
                 </div>
                 <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-7">
                     <input type="text" name="name" class="form-control" placeholder="Имя" value="{{user.auth_user.first_name}}">
                 </div>
             </div>
            <div class="row pt-3">
                 <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
                     <label class="col-sm-3 col-form-label px-0">Фамилия</label>
                 </div>
                 <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-7">
                     <input type="text" name="surname" class="form-control" placeholder="Фамилия" value="{{user.auth_user.last_name}}">
                 </div>
             </div>
            <div class="row">
                <hr class="line mb-1">
            </div>
            <div class="row pt-3 align-items-center">
                 <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
                     <label class="col-sm-3 col-form-label px-0">Пол</label>
                 </div>
                 <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-7">
                     <select class="form-control" id="exampleFormControlSelect1" name="gender">
                         {% if user.gender_id.name == "Мужской" %}
                              <option selected value="1">Мужской</option>
                              <option value="2">Женский</option>
                         {% else %}
                              <option value="1">Мужской</option>
                              <option selected value="2">Женский</option>
                         {% endif %}
                        </select>
                 </div>
             </div>
            <div class="row pt-3">
                 <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
                     <label class="col-sm-3 col-form-label px-0">Дата рождения</label>
                 </div>
                 <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-7">
                     <input type="date" name="birthday" class="form-control" placeholder="Дата рождения" value="{{user.birthday}}">
                 </div>
             </div>
            <div class="row pt-3 pb-4">
                 <div class="col-12 ">
                     <label class="col-sm-3 col-form-label px-0">О себе</label>
                 </div>
                 <div class="col-12">
                     <textarea class="w-100" name="about" id="" cols="30" rows="10">{{user.about_me}}</textarea>
                 </div>
             </div>
            <div class="row">
                <div class="col adverts-add_blk">
                        <button type="submit" class="btn btn-save btn-primary px-3 col-12 col-sm-2 col-md-2">Сохранить</button>
<!--                    <button  class="btn btn-save btn-primary px-3 col-12 col-sm-2 col-md-2 btn-profile-save">Сохранить</button>-->
                </div>
            </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}