{% extends layout %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid p-0">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-10 p-0 profile-unverif-blk pt-4 pt-md-5 pb-3">
            <div class="row pl-2 pr-2 m-0 justify-content-start">
                <div class="col-12 col-sm-12 col-md-9 p-0 pr-3 br-r">
                    <div class="row p-0">

                        <div class="col-12 p-0">
                            <div class="row">
                                <div class="d-none d-md-block col-md-2 col-lg-2 col-xl-2 p-2">
                                    <img alt="" class="w-100 user-advert-img" src="{{MEDIA_URL}}{{user.photo.url}}">
                                </div>
                                <div class="col-12 col-sm-12 col-md-5 col-lg-6 col-xl-7 pl-0 pl-lg-4 pr-md-0 pr-lg-2 pr-0 pt-2">
                                    <div class="row justify-content-center justify-content-sm-center justify-content-md-between align-items-center mb-2">
                                        <h1 class="m-0 fz_2rem">{{user.auth_user.first_name}}
                                            {{user.auth_user.last_name}}</h1>
                                    </div>
                                    {% if user.is_online %}
                                    <span class="text-muted"><div class="online mr-2"></div>online</span>
                                    {% else %}
                                    <span class="text-muted">{{user.get_online_info}}</span>
                                    {% endif %}
                                    <div class="row justify-content-center justify-content-md-start align-items-center pb-2 pb-md-0 pt-2">
                                        <label class="settings-rew_label w-100 my-2">{{user.city.name}}</label>
                                    </div>
                                </div>
                                <div class="col-10 col-sm-10 col-md-5 col-lg-4 col-xl-3 p-1 mx-auto">
                                    <div class="row justify-content-around justify-content-sm-around justify-content-md-end align-content-end align-items-end">
                                        <a href="{% url 'Profile_adverts' user.auth_user.id %}">
                                            <button class="propose_btn">Предложить работу</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="line_blk m-0 my-4">
                        <div class="col-12 p-0">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12 col-xl-12 p-0">
                                    {% for s in user_sub %}
                                    <span class="badge">{{s.subcategories.name}}</span>
                                    {% endfor %}
                                </div>
                                <div class="col-12 col-md-12 col-lg-12 col-xl-12 p-0">
                                    <p class="profile_para">{{user.about_me}}</p>
                                </div>
                            </div>
                        </div>
                        <hr class="line_blk m-0 my-4">
                        <div class="col-12 p-0">
                            <div class="row portfolio-photos_blk" id="gallery">
                                {% for p in portfolio %}
                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 img_wrapper  d-inline-block p-2">
                                    <div class="photo">
                                        <a href="{{MEDIA_URL}}{{p.photo.url}}" data-lightbox="roadtrip">
                                            <img class="w-100" src="{{MEDIA_URL}}{{p.photo.url}}" alt="Eagle"/>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <hr class="line_blk m-0 my-4">
                        <div class="col-12 p-0">
                            <div class="row">
                                <div class="col-6 col-md-3 col-lg-3 col-xl-2 p-1">
                                    <div class="row justify-content-around justify-content-md-center align-content-center align-items-center pt-2">
                                        <span class="col-12 text-center settings-rew_span">{{user_comment|length}}</span>
                                        <label class="settings-rew_label mb-2">отзывов</label>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-3 col-xl-2 p-1">
                                    <div class="row justify-content-around justify-content-md-center align-content-center align-items-center pt-2 pl-2 settings-rew_blk">
                                        <span class="col-12 text-center settings-rew_span">{{com_percent}}%</span>
                                        <label class="settings-rew_label mb-2">положительных</label>
                                    </div>
                                </div>
                                <div class="col-8 col-md-4 col-lg-3 col-xl-3 p-1">
                                    <div class="row justify-content-start justify-content-md-start align-content-center align-items-center pt-md-2 pl-3 settings-rew_blk">
                                        <label class="settings-rew_label w-100 my-2 ">качество работы: <span
                                                class="pl-2">{{quality_percent}}%</span></label>
                                        <label class="settings-rew_label w-100 mb-2">вежливость: <span class="pl-2">{{politeness_persent}}%</span></label>
                                        <label class="settings-rew_label w-100 mb-2">пунктуальность: <span class="pl-2">{{punctuality_persent}}%</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="line_blk m-0 mt-4">
                        {% for c in user_comment %}
                        <div class="col-12 p-0 mb-3">
                            {% if forloop.counter|divisibleby:2 %}
                            <div class="row col-bg-gray p-2 p-md-3">
                                {% else %}
                                <div class="row p-2 p-md-3">
                                    {% endif %}
                                    <div class="col-12 col-md-12 p-1">
                                        <div class="row justify-content-between justify-content-md-start pt-2">
                                            <h4>{{c.customer.first_name}} {{c.customet.lest_name.0}}.</h4>
                                            <span class="profile-span pt-1 pl-3">{{c.date}}</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 p-1">
                                        <div class="row justify-content-start justify-content-md-start">
                                            <div class="star-rating">
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star-o"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 p-1">
                                        <div class="row justify-content-start justify-content-md-start pt-2">
                                            <p class="profile_para mb-2">{{c.text}}</p>
                                            <span class="prof-span">{{c.task.title}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                    </div>
                    <div class="col-md-3 d-none d-md-block p-0 pl-3">
                        <div class="row m-0">
                            <div class="col-12 p-0">
                                <label class="m-0 fz_18rem w-100">Информация о пользователе</label>
                                <span class="text-muted">На сайте с {{user.auth_user.date_joined}}</span>
                            </div>
                            <hr class="line_blk m-0 my-4">
                            <div class="col-12 p-0">
                                <label class="m-0 fz_18rem w-100">Выполненые задания в категориях</label>
                                {% for i in user_category_exec_count %}
                                <div class="row m-0 pl-3">
                                    <span class="categ">{{i.0}} <span class="pl-2">{{i.1}}</span></span>
                                </div>
                                {% endfor %}
                            </div>
                            <hr class="line_blk m-0 my-4">
                            <div class="col-12 p-0">
                                <label class="m-0 fz_18rem w-100">Созданные задания в категориях</label>
                                {% for i in user_category_create_count %}
                                <div class="row m-0 pl-3">
                                    <span class="categ">{{i.0}} <span class="pl-2">{{i.1}}</span></span>
                                </div>
                                {% endfor %}
                            </div>
                            <hr class="line_blk m-0 my-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}