{% extends layout %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid p-0">
    <div class="row justify-content-center">
        <div class=" w-100 serv_details_hdr_bg">
            <div class="ques_hdr_bg_layout row justify-content-center align-items-center">
                <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                    <p class="m-0 fz_2rem line_height_1 text-center">{{service.name}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center my-4 serv-details_blk">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
            <div class="row m-0">
                <div class="col-12 p-0">
                    <div class="row">
                        <div class="d-none d-md-block col-md-4 p-0 text-left">
                            <img alt="" class="img-fluid pb-2" src="/static/image/rate-icon_1.png">
                            <span class="serv-users-span p-1"> 127 пользователей</span>
                        </div>
                        <div class="col-12 col-md-8 p-0 text-center text-md-right">
                            <div class="row justify-content-end align-items-center">
                                <div class="col-auto">
                                    <div class="row">
                                        <span class="serv-price-span fz_2rem">{{service.price}} руб/мес</span>
                                    </div>
                                    <div class="row">
                                        <span class="serv-price-span fz_2rem">{{service.price_week}} руб/неделя</span>
                                    </div>

                                </div>
                                <div class="col-auto">
                                    <a class="mx-auto" href="#price">
                                        <button class="btn btn-primary ml-3">Подключить</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5 serv-details_blk">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
            <div class="row m-0">
                <div class="col-12 p-0">
                    <div class="row">
                        <p>
                            {{service.description}}
                        </p>
                    </div>
                </div>
                {% if service_image|length != 0 %}
                <div class="col-12 p-0 my-4">
                    <div class="row portfolio-photos_blk">
                         {% for i in service_image %}
                        <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 img_wrapper  d-inline-block p-2">
                            <div class="photo">
                                <a href="{{MEDIA_URL}}{{i.image.url}}" data-lightbox="roadtrip">
                                    <img class="w-100" src="{{MEDIA_URL}}{{i.image.url}}" alt="Eagle" />
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <a name="price"></a>
    <div class="row justify-content-center pb-4">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
            <div class="row m-0 justify-content-center">
                <div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-4 pl-md-0">
                    <div class="price-block p-3">
                        <label class="serv-price-span fz_15rem w-100">{{service.price_week}} руб./неделя</label>
                        <p>
                            Услуга будет подключена на 1 неделю. После истечения срока, она будет автоматически отключена.
                        </p>
                        <a class="mx-auto" href="#">
                            <button class="btn btn-primary serv-btn-red">Подключить</button>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-4 pr-md-0">
                    <div class="price-block p-3">
                        <label class="serv-price-span fz_15rem w-100">{{service.price}} руб./мес.</label>
                        <p>
                            Услуга будет подключена на 1 месяц. После истечения срока, она будет автоматически отключена.
                        </p>
                        <a class="mx-auto" href="#">
                            <button class="btn btn-primary serv-btn-blue">Подключить</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}