{% extends layout %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid p-0">
    <div class="row justify-content-center">
        <div class=" w-100 serv_hdr_bg">
            <div class="ques_hdr_bg_layout row justify-content-center align-items-center">
                <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                    <p class="m-0 fz_2rem line_height_1 text-center">Наши услуги</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-0 justify-content-center mt-3">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-0 pt-2 pt-md-5 pb-3 px-3 px-mb-0 px-lg-0">
            <div class="row m-0 justify-content-start">
                {% for s in service %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 service-link p-0 pl-4 pr-4 service-block">
                    <div class="bg-shadow h-100">
                        <div class="row m-0 h-100 align-items-between">
                            <div class="col-12 p-0">
                                <div class="row m-0 bg-red pl-4 pr-4 pt-4 justify-content-center">
                                    <h3 class="m-0">{{s.name}}</h3>
                                    <div class="col-12">
                                        <hr class="mb-0">
                                    </div>
                                </div>
                                <div class="row m-0 pb-4 pl-5 pr-5 pt-4">
                                    <p class="mb-0 pr-0 service-card_text">{{s.description}}</p>
                                </div>
                            </div>
                            <div class="col-12 p-0 pb-4">
                                <div class="row justify-content-around align-items-end h-100">
                                    <div class="col-6 pl-4 pr-2">
                                        <div class="service-prise-week ">
                                            <label class="mb-0">{{s.price_week}} руб./неделя</label>
                                        </div>
                                    </div>
                                    <div class="col-6 pr-4 pl-2 ">
                                        <div class="service-prise-month">
                                            <label class="mb-0">{{s.price}} руб./мес.</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                {% endfor %}
                <!--                {% for s in service %}-->
                <!--                <div class="col-12 p-0">-->
                <!--                    <div class="row">-->
                <!--                        <div class="d-none d-sm-none d-md-block col-8 col-sm-10 col-md-3 col-lg-2 col-xl-2 p-2">-->
                <!--                             {% if s.image != None and s.image != "" %}-->
                <!--                                <img alt="" class="img-fluid" src="{{MEDIA_URL}}{{s.image.url}}">-->
                <!--                            {% else %}-->
                <!--                            <div class="row justify-content-center align-items-center bg-gray">-->
                <!--                                        <span class="alt-text">Без фото</span>-->
                <!--                                    </div>-->
                <!--                            {% endif %}-->
                <!--                        </div>-->
                <!--                        <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-8 pl-2 pr-md-0 pr-lg-2 pr-0 pt-2 mx-auto">-->
                <!--                            <div class="row justify-content-center justify-content-sm-center justify-content-md-between align-items-center mb-2 service-link">-->
                <!--                                <a href="{% url 'Service_detail' s.id %}">-->
                <!--                                    <h3 class="m-0">{{s.name}}</h3>-->
                <!--                                </a>-->
                <!--                            </div>-->
                <!--                            <div class="row justify-content-start align-items-center pt-2">-->
                <!--                                <p class="mb-0 pr-0 service-card_text textrowcount">{{s.description}}</p>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-2 p-1 mx-auto">-->
                <!--                            <div class="row justify-content-arounds justify-content-sm-around justify-content-md-start align-content-center align-items-center pt-0">-->
                <!--                                <label class="service-money_label p mb-2">{{s.price}} руб./мес.</label>-->
                <!--                            </div>-->
                <!--                            <div class="row justify-content-around justify-content-sm-around justify-content-md-start align-content-center align-items-center pt-0">-->
                <!--                                <label class="service-money_label p mb-2">{{s.price_week}} руб./неделя</label>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--                <hr class="category-line m-0 my-4">-->
                <!--                {% endfor %}-->
            </div>
        </div>
    </div>


</div>

{% endblock %}