{% extends layout %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid p-0">
    <div class="row justify-content-center">
        <div class=" w-100 awards_hdr_bg">
            <div class="offer_hdr_bg_layout row justify-content-center align-items-center">
                <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                    <h1 class="m-0 fz_2rem line_height_1 text-center">Награды</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center award_blk my-5">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
            <div class="row m-0">
                <div class="col-12 p-0">
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3 pt-3 p-2 a-center award_card">
                            <img alt="" class="img-fluid" src="/static/image/medal_1.png">
                            <p class="fz_12rem m-0">massa sapien faucibus et molestie</p>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3 pt-3 p-2 a-center award_card">
                            <img alt="" class="img-fluid" src="/static/image/medal_2.png">
                            <p class="fz_12rem m-0">massa sapien faucibus et molestie</p>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3 pt-3 p-2 a-center award_card">
                            <img alt="" class="img-fluid" src="/static/image/trophy_1.png">
                            <p class="fz_12rem m-0">massa sapien faucibus et molestie</p>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3 pt-3 p-2 a-center award_card">
                            <img alt="" class="img-fluid" src="/static/image/medal_3.png">
                            <p class="fz_12rem m-0">massa sapien faucibus et molestie</p>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3 pt-3 p-2 a-center award_card">
                            <img alt="" class="img-fluid" src="/static/image/medal_4.png">
                            <p class="fz_12rem m-0">massa sapien faucibus et molestie</p>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3 pt-3 p-2 a-center award_card">
                            <img alt="" class="img-fluid" src="/static/image/trophy_2.png">
                            <p class="fz_12rem m-0">massa sapien faucibus et molestie</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}