{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div class="bg-map">
    <div class="bg-color-light w-100 h-100">
        <div class="bg-color w-100 h-100">
            <div class="row m-0 justify-content-center">
                <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-0 pt-3 pb-3">
                    <div class="row m-0 justify-content-center">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 a-center pt-3 pb-3">
                            <i class="fas fa-envelope-open-text contact-icon"></i>
                            <label class="contact-text w-100 mb-0">email@gmail.com</label>
                            <label class="contact-text w-100 mb-0">email2.gmail.com</label>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 a-center pt-3 pb-3">
                            <i class="fas fa-phone-alt contact-icon"></i>
                            <label class="contact-text w-100 mb-0">0710000000</label>
                            <label class="contact-text w-100 mb-0">0710000000</label>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 a-center pt-3 pb-3">
                            <i class="fas fa-clock contact-icon"></i>
                            <label class="contact-text w-100 mb-0">Пн-Пт: 8:00-20:00</label>
                            <label class="contact-text w-100 mb-0">Сб-Вс: 9:00-18:00</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}