{% extends layout %}
{% load staticfiles %}
{% block content %}

<div class="row justify-content-center">
    <div class=" w-100 " style="
    height: auto;
    min-height: 20vh;
    background: url(/static/image/austin-distel-wD1LRb9OeEo-unsplash.jpg) 50% 55% no-repeat;
    background-size: cover;
">
        <div class="page_head_img_fon row justify-content-center align-items-center">
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                <p class="m-0 fz_3rem line_height_1 text-center">Преимущества для компаний</p>
            </div>
        </div>
    </div>

</div>
<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <div class="row p-5 col-12">
            <p class="fz_2rem mb-3">Кто мы и зачем Вам нужны?</p>
            <p>Наш сервис, который обеспечивает вашу компанию выгодными заказами. С нами вы уменьшите свои затраты на
                рекламу и привлечение клиентов, ведь на сервисе заказчики сами будут вас искать. Регистрируйтесь и
                увеличьте свой доход:)</p>
        </div>
    </div>
</div>
<div class="row justify-content-center bg_color_FAF9F7">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <div class="row justify-content-around py-5">
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-4">
                <a href="{% url 'Login' %}" class="no-style-a">
                    <div class="row justify-content-center">
                        <div class="col-6 p-0">
                            <img src="{% static 'image/registration.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <h5 class="hiw_header fz_15rem">Зарегистрируйтесь</h5>
                    <h6 class="hiw_text">Подтвердите регистрационные данные и получите статус "Проверенной компании"</h6>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-4">
                <a href="{% url 'Login' %}" class="no-style-a">
                    <div class="row justify-content-center">
                        <div class="col-6 p-0">
                            <img src="{% static 'image/megaphone.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <h5 class="hiw_header fz_15rem">Расскажите о себе</h5>
                    <h6 class="hiw_text">Бесплатно добавьте объявления, прайсы, а также свое портфолио</h6>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-4">
                <a href="{% url 'Login' %}" class="no-style-a">
                    <div class="row justify-content-center">
                        <div class="col-6 p-0">
                            <img src="{% static 'image/payment_2.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <h5 class="hiw_header fz_15rem">Зарабатывайте</h5>
                    <h6 class="hiw_text">Выполняйте интересные для вас заказы и получайте оплату</h6>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <hr class="block_hr">
    </div>
</div><!--hr-->

<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <div class="row justify-content-around py-5">
            <div class="col-12">
                <p class="hiw_headers">Наши достижения в цифрах</p>


                <div class="row justify-content-around">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 p-0 rectW bg-img-count4">
                        <div class="row justify-content-center bg-img-white py-5" id="div_counter1">
                            <p class="m-0 text-center fontCategorySmall colorDarkGrey w-100">ЗА СЕГОДНЯ <br> СОЗДАНО</p>
                            <p class="fz_2rem fw_700 m-0 text-center w-100" id="counter1">0</p>
                            <p class="m-0 colorDarkGrey text-center w-100">ЗАДАНИЙ</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 p-0 rectW bg-img-count1">
                        <div class="row justify-content-center bg-img-white py-5" id="div_counter2">
                            <p class="m-0 text-center fontCategorySmall colorDarkGrey w-100">КОЛИЧЕСТВО <br> ИСПОЛНИТЕЛЕЙ</p>
                            <p class="fz_2rem fw_700 m-0 text-center w-100" id="counter2">0</p>
                            <p class="m-0 colorDarkGrey text-center w-100">ЧЕЛОВЕК</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 p-0 rectW bg-img-count5">
                        <div class="row justify-content-center bg-img-white py-5" id="div_counter3">
                            <p class="m-0 text-center fontCategorySmall colorDarkGrey w-100">ВСЕГО <br> ВЫПОЛНЕНО</p>
                            <p class="fz_2rem fw_700 m-0 text-center w-100" id="counter3">0</p>
                            <p class="m-0 colorDarkGrey text-center w-100">ЗАДАНИЙ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <hr class="block_hr">
    </div>
</div><!--hr-->

<!--Какую работу у нас можно выполнять?-->

<div class="row justify-content-center bg_color_FAF9F7">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <div class="row justify-content-around py-5">
            <div class="col-12">
                <p class="hiw_headers">Отзывы</p>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <a href="{% url 'Dev' %}" class="no-style-a">
                    <div class="w-100 my-3 text-center"><img class="w-50 img_circle" src="/static/image/otziv1.jpg" alt="">
                    </div>
                    <p class="hiw_header">МАРЬЯНА, КЛИНЕР</p>
                    <p class="hiw_text">На Кабанчике мне нравится то, что я могу сама планировать свое личное время и
                    финансы. Здорово, что нет никаких начальников и я сама отвечаю за качество своей работы. Отличным
                    бонусом также есть то, что я могу подстроить свою работу так, чтобы больше времени проводить со
                    своим ребенком.</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <a href="{% url 'Dev' %}" class="no-style-a">
                    <div class="w-100 my-3 text-center"><img class="w-50 img_circle" src="/static/image/otziv2.jpg" alt="">
                    </div>
                    <p class="hiw_header">ВАСИЛИЙ, ДОМАШНИЙ МАСТЕР</p>
                    <p class="hiw_text">Кабанчик мне нравится тем, что этот сервис сделан для людей, здесь очень
                        человеческие условия для работы. Он отлично помогает тем, кому нужен дополнительный заработок или
                        даже основная работа. Я чувствую здесь перспективы и развитие — это мотивирует работать.</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <a href="{% url 'Dev' %}" class="no-style-a">
                    <div class="w-100 my-3 text-center"><img class="w-50 img_circle" src="/static/image/otziv3.jpg" alt="">
                    </div>
                    <p class="hiw_header">ДИАНА, ДИЗАЙНЕР</p>
                    <p class="hiw_text">С Кабанчиком дружу давно:) Всегда есть работа для специалиста. Помимо того, что это
                        неплохая подработка, мне нравится, что на Кабанчике можно выбирать и фильтровать заказы. Еще
                        огромный плюс в том, что здесь собрано мое полное портфолио с галереей работ, услугами, прайсом и
                        отзывами заказчиков. Это очень удобно.</p>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <hr class="block_hr">
    </div>
</div><!--hr-->

<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <div class="row justify-content-around py-2">
            <div class="col-12 mb-5">
                <p class="hiw_headers">Какую работу у нас можно выполнять?</p>
            </div>
            {% for i in list %}
            <div class="col-11 col-sm-4 col-md-3 col-lg-3 col-xl-2 mx-1 my-3 rectW">
                 <a href="{% url 'Category_item' i.pop %}" class="no-style-a">
                    <div class="w-100 my-3 text-center"><img class="w-50" src="{{MEDIA.URL}}{{i.pop.url}}" alt=""></div>
                    <p class="hiw_header m-0">{{i.pop}}</p>
                    <p class="hiw_text">{{i.pop}} подкатегорий</p>
                 </a>
            </div>
            {% endfor %}



        </div>
    </div>
</div>

{% endblock %}