{% extends layout %}
{% load staticfiles %}
{% block content %}

    <div class="container mx-lg-auto">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 text-center mt-3 mb-3">
                <h3>Введите e-mail</h3>
                <div class="form-group">
                    <input type="email" class="form-control" id="login_email" aria-describedby="emailHelp"
                           placeholder="E-mail"/>
                </div>
                <div class="alert alert-danger w-100 my-3" role="alert" style="display: none" id="alert-danger">
                    Пользователь с таким e-mail не зарегистрирован!
                </div>
                <button type="submit" id="btn_forgot" class="btn btn-outline-primary">Отправить сообщение</button>


            </div>
        </div>
    </div>

{% endblock %}