{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="row justify-content-center">
    <div class=" w-100" style="
    height: auto;
    min-height: 30vh;
    background: url(/static/image/hiw_bg.jpeg) 50% 55% no-repeat;
    background-size: cover;
">
        <div class="page_head_img_fon row justify-content-center align-items-center">
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                <h1 class="m-0 fz_3rem line_height_1 text-center">Как заказать услугу</h1>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <div class="row justify-content-around py-5 m-3">

            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 hiw_lnk">
                <a href="{% url 'Dev' %}" class="w-100 hiw_links">
                    <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/1hiw-1.png" alt="">
                    </div>
                    <h5 class="hiw_header">Создайте задание</h5>
                    <h6 class="hiw_text">Напишите, что, когда и как вам нужно сделать</h6>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 hiw_lnk">
                <a href="{% url 'Dev' %}" class="w-100 hiw_links">
                    <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/2hiw.png" alt="">
                    </div>
                    <h5 class="hiw_header">Выберите специалиста</h5>
                    <h6 class="hiw_text">Выберите компетентного специалиста для выполнения работы</h6>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 hiw_lnk">
                <a href="{% url 'Dev' %}" class="w-100 hiw_links">
                    <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/3hiw.png" alt="">
                    </div>
                    <h5 class="hiw_header">Закройте заказ</h5>
                    <h6 class="hiw_text">Оставьте отзыв и оценку за проделанную работу</h6>
                </a>
            </div>


            <div class="row justify-content-center mt-5 col-12">
                <div class="col-10 col-sm-5 col-md-4 col-lg-4 col-xl-3 p-0">
                    <a href="{% url 'Dev' %}">
                    <button class="hiw_btn w-100">Создать задание</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <hr class="block_hr">
    </div>
</div>
<div class="row justify-content-center bg_color_FAF9F7">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <div class="row justify-content-around py-5 m-3">
            <div class="col-12 pb-3">
                <p class="hiw_headers">Гарантии</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/4hiw.png" alt=""></div>
                <h5 class="hiw_header">Проверенные специалисты</h5>
                <h6 class="hiw_text">Все специалисты проходят проверку паспортных данных</h6>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/5hiw.png" alt=""></div>
                <h5 class="hiw_header">Оплата через сайт</h5>
                <h6 class="hiw_text">Надежный способ оплаты специалисту, где сервис выступает хранителем ваших
                    средств</h6>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/6hiw.png" alt=""></div>
                <h5 class="hiw_header">Страховка</h5>
                <h6 class="hiw_text">Каждый заказ на нашем сервисе застрахован</h6>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <hr class="block_hr">
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <div class="row justify-content-around py-5 m-3">
            <div class="col-12 pb-3">
                <p class="hiw_headers">Полезные советы заказчику</p>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-3">
                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/7hiw.png" alt=""></div>
                <p class="hiw_text">Детально опишите, что нужно сделать, уточните все нюансы и пожелания</p>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-3">
                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/8hiw.png" alt=""></div>
                <p class="hiw_text">Укажите актуальную цену, которую вы готовы заплатить</p>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-3">
                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/9hiw.png" alt=""></div>
                <p class="hiw_text">Будьте на связи по контактным данным, указанным в вашем профиле</p>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-3">
                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/10hiw.png" alt=""></div>
                <p class="hiw_text">После выполнения работ, оставьте оценку и отзыв о работе специалиста</p>
            </div>

        </div>
        <div class="row justify-content-around pt-2 pb-5">
            {% for i in seo %}
            <p class="m-0">{{i.text}}</p>
            {% endfor %}
<!--            текст, текст, текст, текст,текст,текст, текст,текст,текст,текст,текст,текст,-->
        </div>
    </div>
</div>


{% endblock %}