{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}

    <div class="container mx-lg-auto">
        <div class="row justify-content-center login-block">
            <div class="col-sm-12 col-md-6 register-link text-center">
                <h3>Еще не зарегистрирован?</h3>
                <p>Тогда скорее присоединяйся и выполняй <br> задания, либо ищи исполнителей</p>
                <a href="{% url 'Register' %}">
                    <button class="btn btn-primary">Регистрация</button>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 login-form text-center">
                <h3>Вход</h3>
                {#            <form>#}
                <div class="form-group">
                    <input type="email" class="form-control" id="login_email" aria-describedby="emailHelp"
                           placeholder="E-mail"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="login_pass" placeholder="Пароль"/>
                </div>
                <div class="alert alert-danger w-100 my-3" role="alert" style="display: none" id="alert-danger">

                </div>
                {#                <a href="{% url 'Dev' %}">#}
                <button type="submit" id="btn_login" class="btn btn-outline-primary">Вход</button>
                {#                </a>#}
                {#            </form>#}

            </div>
{#            <div class="col-sm-12 col-md-6 form-group">#}
{##}
{#                <div class="alert alert-danger w-100" role="alert" style="display: none" id="alert-danger">#}
{#                    Заполнены не все поля!#}
{#                </div>#}
{#                <div class="alert alert-success w-100" role="alert" style="display: none" id="alert-success">#}
{#                    Сообщение успешно отправлено.#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>

{% endblock %}