{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="row row justify-content-center">

<!--    <div class="news_img w-100">-->
<!--        <div class="news_img_fon row  justify-content-center align-items-end">-->
<!--            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-3">-->
<!--                <p class="news_img_p">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;             style="background: url(/static/image/news_bg.jpg) 100% 100% no-repeat">&ndash;&gt;-->

<!--    </div>-->
    <div class="header_img w-100">
        <div class="header_img_fon row justify-content-center align-items-center">
            <p class="header_img_p">Новости</p>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <p class="news_img_p my-3">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
        <p class="news_det_type my-3">Lorem ipsum dolor sit amet</p>
        <img class="w-100" src="/static/image/news_bg.jpg" alt="">
        <p class="news_det_text my-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo urna, imperdiet a dolor mattis, mollis
            mattis leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque libero libero, mollis
            vitae aliquet id, volutpat et libero. Morbi at cursus risus, vel laoreet nibh. Donec viverra, sapien a
            tincidunt malesuada, nibh ex finibus sapien, nec sollicitudin leo dolor nec risus. Sed quis nisi in turpis
            condimentum malesuada eu ac nibh. In posuere auctor molestie. Integer interdum molestie mi, in maximus diam
            iaculis quis. Phasellus sed turpis porttitor, posuere urna a, suscipit libero. Etiam nibh nunc, rutrum at
            justo ac, vulputate dignissim risus. In id dapibus tortor. Suspendisse potenti. Pellentesque non finibus
            ipsum. Suspendisse ultricies nisl aliquet nunc suscipit, non placerat felis fringilla. Aliquam eleifend,
            ipsum vel commodo dictum, arcu tellus aliquam mauris, quis malesuada nisi tortor et libero. Donec suscipit
            facilisis nibh, non consequat mauris placerat vitae. Sed pulvinar.
        </p>
    </div>
</div>

{% endblock %}