{% extends layout %}
{% load staticfiles %}
{% block content %}

    <div class="container mx-lg-auto">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 text-center mt-3 mb-3">
                <h3>На Ваш почтовый ящик отправлено сообщение, содержащее ссылку на сайт и новые данные для входа. Пожалуйста, перейдите по ссылке для входа в личный кабинет.

Если письмо не пришло в течение 15 минут, проверьте папку «Спам». Если письмо вдруг попало в эту папку, откройте письмо, нажмите кнопку «Не спам» и перейдите по ссылке. Если же письма нет и в папке «Спам», попробуйте ещё раз. Возможно, вы ошиблись при вводе адреса.</h3>

            </div>
        </div>
    </div>

{% endblock %}