{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}

    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class=" w-100 privacy_hdr_bg">
                <div class="privacy_hdr_bg_layout row justify-content-center align-items-center">
                    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                        <p class="m-0 fz_2rem line_height_1 text-center">Правила конфиденциальности</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center privacy_blk">
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                <div class="row pb-5 pt-5">
                    <ol class="privacy_blk_list">
                        {% for i,j in privacy_rules %}
                            <li class="main_item pb-5">{{i}}
                                <ol class="privacy_blk_inside_list pl-0 pl-sm-0 pl-md-5">
                                    {% for k in j %}
                                        <li class="py-3">{{ k }}</li>
                                    {% endfor %}
                                </ol>
                            </li>
                        {% endfor %}
{#                                        <li class="main_item pb-5">Понятие конфиденциальной информации#}
{#                                            <ol class="privacy_blk_inside_list pl-0 pl-sm-0 pl-md-5">#}
{#                                                <li class="py-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>#}
{#                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>#}
{#                                            </ol>#}
{#                                        </li>#}
{#                                        <li class="main_item pb-5">Размещение пользователем информации о себе при использовании ресурса#}
{#                                            <ol class="privacy_blk_inside_list pl-0 pl-sm-0 pl-md-5">#}
{#                                                <li class="py-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>#}
{#                                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>#}
{#                                            </ol>#}
{#                                        </li>#}
{#                                        <li class="main_item pb-5">Сбор и хранение конфиденциальной информации#}
{#                                            <ol class="privacy_blk_inside_list pl-0 pl-sm-0 pl-md-5">#}
{#                                                <li class="py-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cupiditate ducimus fugiat laborum neque perspiciatis praesentium tempore. Cum doloremque, dolores molestiae nisi officia ullam ut velit. Aperiam aspernatur atque consequuntur dolorum expedita labore laborum libero nemo nulla obcaecati pariatur quia quod repudiandae, sed sequi similique tenetur unde voluptate voluptates voluptatibus.</li>#}
{#                                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolore eligendi in reiciendis. A adipisci aliquam aliquid cumque cupiditate deleniti dicta dignissimos dolore eligendi eum fugit in ipsum iste iure libero magnam, nihil praesentium provident quae quibusdam quos reiciendis ullam velit. Aliquid animi architecto culpa enim facilis incidunt laborum nemo nobis ullam vero. Architecto atque consequuntur, culpa dicta dignissimos dolorem earum eligendi eum illum laudantium molestias nam quae repellat, saepe, soluta vitae voluptatibus. Asperiores aspernatur corporis eos officiis possimus tempora!</li>#}
{#                                            </ol>#}
{#                                        </li>#}
                    </ol>
                </div>
            </div>
        </div>
    </div>

{% endblock %}