{% extends layout %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid p-0">
    <div class="row justify-content-center profile-verif_blk">
        <div class=" w-100 profile-verif_hdr_bg">
            <div class="offer_hdr_bg_layout row justify-content-center align-items-center">
                <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                    <div class="col-4 col-md-2 col-lg-2 col-xl-2 py-2 mx-auto user-img_blk">
                        <img alt="" class="img-fluid user-img" src="/static/image/user_profile.png">
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12 pb-2 text-center">
                        <h1 class="m-0 fz_2rem line_height_1 ">Иванов Иван</h1>
                        <p class="fz_12rem mt-2">Донецк</p>
                    </div>
                    <div class="col-12 col-md-10 col-lg-9 col-xl-9 pb-1 mx-auto p-0">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link active" href="#about">О себе</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#portfolio">Портфолио</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#ads">Объявления</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#reviews">Отзывы</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center profile-verif_blk my-5">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
            <div class="row m-0 justify-content-start">
                <div class="col-12 p-0">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12 p-0">
                            <span class="badge">Курьерская доставка</span>
                            <span class="badge">Доставка документов</span>
                            <span class="badge">Доставка лекарств</span>
                            <span class="badge">Доставка продуктов и готовой еды</span>
                            <span class="badge">Забрать и отправить почтой</span>
                            <span class="badge">Столяр</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-8 col-xl-9 p-0">
                            <p class="profile_para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="col-10 col-sm-10 col-md-5 col-lg-4 col-xl-3 p-1 mx-auto">
                            <div class="row justify-content-center justify-content-md-center justify-content-lg-end align-content-end align-items-end">
                                <a href="#">
                                    <button class="propose_btn">Предложить работу</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="line_blk m-0 my-4">
                <div class="col-12 p-0">
                    <div class="row justify-content-md-around justify-content-lg-center icons-blk">
                        <div class="col-12 col-md-3 col-lg-3 col-xl-2 mx-xl-5 p-1">
                            <div class="row justify-content-around justify-content-md-center align-content-center align-items-center pt-2">
                                    <div class="text-center ellipse mx-auto">
                                        <img alt="" class="img-fluid" src="/static/image/secure-icon.png">
                                    </div>
                                    <div class="col-12 text-center p-0">
                                        <label class="text-center m-0 mt-2">Проверенный пользователь</label><br>
                                        <span class="">с 20 января 2020</span>
                                    </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3 col-xl-2 mx-xl-5 p-1">
                            <div class="row justify-content-around justify-content-md-center align-content-center align-items-center pt-2">
                                    <div class="text-center ellipse mx-auto">
                                        <img alt="" class="img-fluid" src="/static/image/task-icon.png">
                                    </div>
                                    <div class="col-12 text-center p-0">
                                        <label class="text-center m-0 mt-2">Выполненные задания</label><br>
                                        <a class="text-center" href="#">
                                            <span class="">в 2 категориях</span>
                                        </a>
                                    </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3 col-xl-2 mx-xl-5 p-1">
                            <div class="row justify-content-around justify-content-md-center align-content-center align-items-center pt-2">
                                <div class="text-center ellipse mx-auto">
                                    <img alt="" class="img-fluid" src="/static/image/ad-icon.png">
                                </div>
                                <div class="col-12 text-center p-0">
                                        <label class="text-center m-0 mt-2">Опубликованные объявления</label><br>
                                        <a class="text-center" href="#">
                                            <span class="">в 4 категориях</span>
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="line_blk m-0 my-4">
                <div class="col-12 p-0" id="portfolio">
                    <div class="row portfolio-photos_blk">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12 pb-4 text-center">
                            <h2  class="m-0 fz_2rem">
                                <a class="header_underline" href="#">Портфолио</a>
                            </h2>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 img_wrapper">
                            <img alt="..." class="img-fluid center-block" src="/static/image/hiw_bg.jpeg">
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 img_wrapper">
                            <img alt="..." class="img-fluid center-block" src="/static/image/bg-cat.jpg">
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 img_wrapper">
                            <img alt="..." class="img-fluid center-block" src="/static/image/cio-c.jpg">
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 img_wrapper">
                            <img alt="..." class="img-fluid center-block" src="/static/image/contract.jpg">
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 img_wrapper">
                            <img alt="..." class="img-fluid center-block" src="/static/image/security.jpg">
                        </div>
                    </div>
                </div>
                <hr class="line_blk m-0 my-4">
                <div class="col-12 p-0" id="ads">
                    <div class="row ads_blk">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12 pb-5 text-center">
                                <h2  class="m-0 fz_2rem">
                                    <a class="header_underline" href="#">Объявления</a>
                                </h2>
                        </div>
                        <div class="col-12 p-0">
                            <div class="row">
                                <div class="col-8 col-sm-10 col-md-2 col-lg-2 col-xl-2 p-2 mx-auto">
                                    <img alt="" class="w-100 user-img" src="/static/image/user.png">
                                </div>
                                <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 pl-2 pr-md-0 pr-lg-2 pr-0 pt-2 mx-auto">
                                    <div class="row justify-content-center justify-content-sm-center justify-content-md-between align-items-center mb-2">
                                        <a href="#">
                                            <h3 class="category-card_label m-0">Качественно выполню плиточные работы</h3>
                                        </a>
                                    </div>
                                    <div class="row justify-content-start align-items-center pt-2">
                                        <p class="mb-0 pr-0 advert-card_text pb-2">Качественно выполню плиточные работы. В основном специализируюсь на облицовке с/у. Опыт работы свыше 10 лет. В наличии весь необходимый п...</p>
                                        <span>Сегодня</span>
                                    </div>
                                </div>
                                <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3 p-1 mx-auto">
                                    <div class="row justify-content-around justify-content-sm-around justify-content-md-center align-content-center align-items-center pt-0">
                                        <label class="category-money_label mb-2">600 руб.</label>
                                    </div>
                                </div>
                                <hr class="category-line m-0 my-4">
                            </div>
                        </div>
                        <div class="col-12 p-0">
                            <div class="row">
                                <div class="col-8 col-sm-10 col-md-2 col-lg-2 col-xl-2 p-2 mx-auto">
                                    <img alt="" class="w-100 user-img" src="/static/image/user.png">
                                </div>
                                <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 pl-2 pr-md-0 pr-lg-2 pr-0 pt-2 mx-auto">
                                    <div class="row justify-content-center justify-content-sm-center justify-content-md-between align-items-center mb-2">
                                        <a href="#">
                                            <h3 class="category-card_label m-0">Качественно выполню плиточные работы</h3>
                                        </a>
                                    </div>
                                    <div class="row justify-content-start align-items-center pt-2">
                                        <p class="mb-0 pr-0 advert-card_text pb-2">Качественно выполню плиточные работы. В основном специализируюсь на облицовке с/у. Опыт работы свыше 10 лет. В наличии весь необходимый п...</p>
                                        <span>Сегодня</span>
                                    </div>
                                </div>
                                <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3 p-1 mx-auto">
                                    <div class="row justify-content-around justify-content-sm-around justify-content-md-center align-content-center align-items-center pt-0">
                                        <label class="category-money_label mb-2">600 руб.</label>
                                    </div>
                                </div>
                                <hr class="category-line m-0 my-4">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0" id="reviews">
                    <div class="row reviews_blk">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12 pb-4 text-center">
                            <h2  class="m-0 fz_2rem">
                                <a class="header_underline" href="#">Отзывы</a>
                            </h2>
                        </div>
                        <div class="col-6 col-md-3 col-lg-3 col-xl-2 p-1">
                            <div class="row justify-content-around justify-content-md-center align-content-center align-items-center pt-2">
                                <span class="col-12 text-center reviews_span">10</span>
                                <label class="reviews_label mb-2">отзывов</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-3 col-xl-2 p-1">
                            <div class="row justify-content-around justify-content-md-center align-content-center align-items-center pt-2 pl-2 settings-rew_blk">
                                <span class="col-12 text-center reviews_span">98%</span>
                                <label class="reviews_label mb-2">положительных</label>
                            </div>
                        </div>
                        <div class="col-8 col-md-4 col-lg-3 col-xl-3 p-1">
                            <div class="row justify-content-start justify-content-md-start align-content-center align-items-center pt-md-2 pl-3 settings-rew_blk">
                                <label class="reviews_label my-2 ">качество работы: <span class="pl-2">98%</span></label>
                                <label class="reviews_label mb-2">вежливость: <span class="pl-2">98%</span></label>
                                <label class="reviews_label mb-2">пунктуальность: <span class="pl-2">98%</span></label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="line_blk m-0 my-4">
                <div class="col-12 p-0 mb-3">
                    <div class="row p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span-1">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row col-bg-gray p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span-1">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row col-bg-gray p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

{% endblock %}