{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}

    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class=" w-100 offer_hdr_bg">
                <div class="offer_hdr_bg_layout row justify-content-center align-items-center">
                    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                        <p class="m-0 fz_2rem line_height_1 text-center">Публичная оферта</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center offer_blk">
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                <div class="row pb-5 pt-5">
                    <ol class="offer_blk_list">

                        {% for i,j in public_offer %}
                            <li class="main_item pb-5">{{ i }}
                                <ol class="offer_blk_inside_list pl-0 pl-sm-0 pl-md-5">
                                    {% for k in j %}
                                        <li class="py-3">{{ k }}</li>
                                    {% endfor %}
                                </ol>
                            </li>
                        {% endfor %}

{#                        <li class="main_item pb-5">Общие положения#}
{#                            <ol class="offer_blk_inside_list pl-0 pl-sm-0 pl-md-5">#}
{#                                <li class="py-3">Настоящий документ представляет собой открытое предложение (далее -#}
{#                                    “Оферта”) Общества с ограниченной ответственностью “ЕВО ВЕНЧЕРЗ” юридическое лицо в#}
{#                                    соответствии с законодательством Украины, идентификационный код 40891941 (далее -#}
{#                                    “Компания”), которое адресовано неопределенному кругу лиц, заключить договор о#}
{#                                    предоставлении услуг (далее - “Договор”) на изложенных в этой Оферте условиях,#}
{#                                    включая все ее приложения.#}
{#                                </li>#}
{#                                <li>Настоящий документ представляет собой открытое предложение (далее - “Оферта”)#}
{#                                    Общества с ограниченной ответственностью “ЕВО ВЕНЧЕРЗ” юридическое лицо в#}
{#                                    соответствии с законодательством Украины, идентификационный код 40891941 (далее -#}
{#                                    “Компания”), которое адресовано неопределенному кругу лиц, заключить договор о#}
{#                                    предоставлении услуг (далее - “Договор”) на изложенных в этой Оферте условиях,#}
{#                                    включая все ее приложения.#}
{#                                </li>#}
{#                            </ol>#}
{#                        </li>#}
{#                        <li class="main_item pb-5">Предмет Договора#}
{#                            <ol class="offer_blk_inside_list pl-0 pl-sm-0 pl-md-5">#}
{#                                <li class="py-3">В порядке и на условиях определенных в настоящем Договоре, Компания#}
{#                                    предоставляет доступ посредством сети Интернет к программной продукции в виде#}
{#                                    онлайн-сервиса Kabanchik.ua, который размещен на Сайте Компании:#}
{#                                    https://kabanchik.ua/, и обеспечивает создание и размещение Публичного Профиля#}
{#                                    Исполнителя, а также создание и размещения Предложения (далее - Доступ) и#}
{#                                    Дополнительных услуг: Поднятие профиля Исполнителя, Размещение PRO-аккаунта#}
{#                                    Исполнителя, а Исполнитель обязуется принять и оплатить такие предоставленные#}
{#                                    услуги.#}
{#                                </li>#}
{#                                <li class="pb-3">Акцептом (моментом полного подтверждения и безоговорочного принятия#}
{#                                    всех условий Договора- оферты, его приложений, правил, дополнений, которые являются#}
{#                                    его неотъемлемыми частями, является момент любого взаимодействия Пользователя с#}
{#                                    Сайтом в том числе, но не исключительно: регистрация на Сайте, внесение и/или#}
{#                                    пополнение Гарантийного платежа, фактическое пользование Сервисами Сайта.#}
{#                                </li>#}
{#                                <li>Акцептом (моментом полного подтверждения и безоговорочного принятия всех условий#}
{#                                    Договора- оферты, его приложений, правил, дополнений, которые являются его#}
{#                                    неотъемлемыми частями, является момент любого взаимодействия Пользователя с Сайтом в#}
{#                                    том числе, но не исключительно: регистрация на Сайте, внесение и/или пополнение#}
{#                                    Гарантийного платежа, фактическое пользование Сервисами Сайта.#}
{#                                </li>#}
{#                            </ol>#}
{#                        </li>#}
{#                        <li class="main_item pb-5">Порядок предоставления и использования сервисов#}
{#                            <ol class="offer_blk_inside_list pl-0 pl-sm-0 pl-md-5">#}
{#                                <li class="py-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci#}
{#                                    cupiditate ducimus fugiat laborum neque perspiciatis praesentium tempore. Cum#}
{#                                    doloremque, dolores molestiae nisi officia ullam ut velit. Aperiam aspernatur atque#}
{#                                    consequuntur dolorum expedita labore laborum libero nemo nulla obcaecati pariatur#}
{#                                    quia quod repudiandae, sed sequi similique tenetur unde voluptate voluptates#}
{#                                    voluptatibus.#}
{#                                </li>#}
{#                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolore eligendi#}
{#                                    in reiciendis. A adipisci aliquam aliquid cumque cupiditate deleniti dicta#}
{#                                    dignissimos dolore eligendi eum fugit in ipsum iste iure libero magnam, nihil#}
{#                                    praesentium provident quae quibusdam quos reiciendis ullam velit. Aliquid animi#}
{#                                    architecto culpa enim facilis incidunt laborum nemo nobis ullam vero. Architecto#}
{#                                    atque consequuntur, culpa dicta dignissimos dolorem earum eligendi eum illum#}
{#                                    laudantium molestias nam quae repellat, saepe, soluta vitae voluptatibus. Asperiores#}
{#                                    aspernatur corporis eos officiis possimus tempora!#}
{#                                </li>#}
{#                            </ol>#}
{#                        </li>#}
{#                        <li class="main_item pb-5">Порядок оплаты сервисов пользователем#}
{#                            <ol class="offer_blk_inside_list pl-0 pl-sm-0 pl-md-5">#}
{#                                <li class="py-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci#}
{#                                    cupiditate ducimus fugiat laborum neque perspiciatis praesentium tempore. Cum#}
{#                                    doloremque, dolores molestiae nisi officia ullam ut velit. Aperiam aspernatur atque#}
{#                                    consequuntur dolorum expedita labore laborum libero nemo nulla obcaecati pariatur#}
{#                                    quia quod repudiandae, sed sequi similique tenetur unde voluptate voluptates#}
{#                                    voluptatibus.#}
{#                                </li>#}
{#                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolore eligendi#}
{#                                    in reiciendis. A adipisci aliquam aliquid cumque cupiditate deleniti dicta#}
{#                                    dignissimos dolore eligendi eum fugit in ipsum iste iure libero magnam, nihil#}
{#                                    praesentium provident quae quibusdam quos reiciendis ullam velit. Aliquid animi#}
{#                                    architecto culpa enim facilis incidunt laborum nemo nobis ullam vero. Architecto#}
{#                                    atque consequuntur, culpa dicta dignissimos dolorem earum eligendi eum illum#}
{#                                    laudantium molestias nam quae repellat, saepe, soluta vitae voluptatibus. Asperiores#}
{#                                    aspernatur corporis eos officiis possimus tempora!#}
{#                                </li>#}
{#                            </ol>#}
{#                        </li>#}
{#                        <li class="main_item pb-5">Права и обязанности проекта#}
{#                            <ol class="offer_blk_inside_list pl-0 pl-sm-0 pl-md-5">#}
{#                                <li class="py-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci#}
{#                                    cupiditate ducimus fugiat laborum neque perspiciatis praesentium tempore. Cum#}
{#                                    doloremque, dolores molestiae nisi officia ullam ut velit. Aperiam aspernatur atque#}
{#                                    consequuntur dolorum expedita labore laborum libero nemo nulla obcaecati pariatur#}
{#                                    quia quod repudiandae, sed sequi similique tenetur unde voluptate voluptates#}
{#                                    voluptatibus.#}
{#                                </li>#}
{#                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolore eligendi#}
{#                                    in reiciendis. A adipisci aliquam aliquid cumque cupiditate deleniti dicta#}
{#                                    dignissimos dolore eligendi eum fugit in ipsum iste iure libero magnam, nihil#}
{#                                    praesentium provident quae quibusdam quos reiciendis ullam velit. Aliquid animi#}
{#                                    architecto culpa enim facilis incidunt laborum nemo nobis ullam vero. Architecto#}
{#                                    atque consequuntur, culpa dicta dignissimos dolorem earum eligendi eum illum#}
{#                                    laudantium molestias nam quae repellat, saepe, soluta vitae voluptatibus. Asperiores#}
{#                                    aspernatur corporis eos officiis possimus tempora!#}
{#                                </li>#}
{#                            </ol>#}
{#                        </li>#}
{#                        <li class="main_item pb-5">Права и обязанности пользователя#}
{#                            <ol class="offer_blk_inside_list pl-0 pl-sm-0 pl-md-5">#}
{#                                <li class="py-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci#}
{#                                    cupiditate ducimus fugiat laborum neque perspiciatis praesentium tempore. Cum#}
{#                                    doloremque, dolores molestiae nisi officia ullam ut velit. Aperiam aspernatur atque#}
{#                                    consequuntur dolorum expedita labore laborum libero nemo nulla obcaecati pariatur#}
{#                                    quia quod repudiandae, sed sequi similique tenetur unde voluptate voluptates#}
{#                                    voluptatibus.#}
{#                                </li>#}
{#                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolore eligendi#}
{#                                    in reiciendis. A adipisci aliquam aliquid cumque cupiditate deleniti dicta#}
{#                                    dignissimos dolore eligendi eum fugit in ipsum iste iure libero magnam, nihil#}
{#                                    praesentium provident quae quibusdam quos reiciendis ullam velit. Aliquid animi#}
{#                                    architecto culpa enim facilis incidunt laborum nemo nobis ullam vero. Architecto#}
{#                                    atque consequuntur, culpa dicta dignissimos dolorem earum eligendi eum illum#}
{#                                    laudantium molestias nam quae repellat, saepe, soluta vitae voluptatibus. Asperiores#}
{#                                    aspernatur corporis eos officiis possimus tempora!#}
{#                                </li>#}
{#                            </ol>#}
{#                        </li>#}
{#                        <li class="main_item pb-5">Ответственность#}
{#                            <ol class="offer_blk_inside_list pl-0 pl-sm-0 pl-md-5">#}
{#                                <li class="py-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci#}
{#                                    cupiditate ducimus fugiat laborum neque perspiciatis praesentium tempore. Cum#}
{#                                    doloremque, dolores molestiae nisi officia ullam ut velit. Aperiam aspernatur atque#}
{#                                    consequuntur dolorum expedita labore laborum libero nemo nulla obcaecati pariatur#}
{#                                    quia quod repudiandae, sed sequi similique tenetur unde voluptate voluptates#}
{#                                    voluptatibus.#}
{#                                </li>#}
{#                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolore eligendi#}
{#                                    in reiciendis. A adipisci aliquam aliquid cumque cupiditate deleniti dicta#}
{#                                    dignissimos dolore eligendi eum fugit in ipsum iste iure libero magnam, nihil#}
{#                                    praesentium provident quae quibusdam quos reiciendis ullam velit. Aliquid animi#}
{#                                    architecto culpa enim facilis incidunt laborum nemo nobis ullam vero. Architecto#}
{#                                    atque consequuntur, culpa dicta dignissimos dolorem earum eligendi eum illum#}
{#                                    laudantium molestias nam quae repellat, saepe, soluta vitae voluptatibus. Asperiores#}
{#                                    aspernatur corporis eos officiis possimus tempora!#}
{#                                </li>#}
{#                            </ol>#}
{#                        </li>#}
{#                        <li class="main_item pb-5">Интеллектуальная собственность#}
{#                            <ol class="offer_blk_inside_list pl-0 pl-sm-0 pl-md-5">#}
{#                                <li class="py-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci#}
{#                                    cupiditate ducimus fugiat laborum neque perspiciatis praesentium tempore. Cum#}
{#                                    doloremque, dolores molestiae nisi officia ullam ut velit. Aperiam aspernatur atque#}
{#                                    consequuntur dolorum expedita labore laborum libero nemo nulla obcaecati pariatur#}
{#                                    quia quod repudiandae, sed sequi similique tenetur unde voluptate voluptates#}
{#                                    voluptatibus.#}
{#                                </li>#}
{#                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolore eligendi#}
{#                                    in reiciendis. A adipisci aliquam aliquid cumque cupiditate deleniti dicta#}
{#                                    dignissimos dolore eligendi eum fugit in ipsum iste iure libero magnam, nihil#}
{#                                    praesentium provident quae quibusdam quos reiciendis ullam velit. Aliquid animi#}
{#                                    architecto culpa enim facilis incidunt laborum nemo nobis ullam vero. Architecto#}
{#                                    atque consequuntur, culpa dicta dignissimos dolorem earum eligendi eum illum#}
{#                                    laudantium molestias nam quae repellat, saepe, soluta vitae voluptatibus. Asperiores#}
{#                                    aspernatur corporis eos officiis possimus tempora!#}
{#                                </li>#}
{#                            </ol>#}
{#                        </li>#}
{#                        <li class="main_item pb-5">Переписка сторон. Извещения и уведомления#}
{#                            <ol class="offer_blk_inside_list pl-0 pl-sm-0 pl-md-5">#}
{#                                <li class="py-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci#}
{#                                    cupiditate ducimus fugiat laborum neque perspiciatis praesentium tempore. Cum#}
{#                                    doloremque, dolores molestiae nisi officia ullam ut velit. Aperiam aspernatur atque#}
{#                                    consequuntur dolorum expedita labore laborum libero nemo nulla obcaecati pariatur#}
{#                                    quia quod repudiandae, sed sequi similique tenetur unde voluptate voluptates#}
{#                                    voluptatibus.#}
{#                                </li>#}
{#                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolore eligendi#}
{#                                    in reiciendis. A adipisci aliquam aliquid cumque cupiditate deleniti dicta#}
{#                                    dignissimos dolore eligendi eum fugit in ipsum iste iure libero magnam, nihil#}
{#                                    praesentium provident quae quibusdam quos reiciendis ullam velit. Aliquid animi#}
{#                                    architecto culpa enim facilis incidunt laborum nemo nobis ullam vero. Architecto#}
{#                                    atque consequuntur, culpa dicta dignissimos dolorem earum eligendi eum illum#}
{#                                    laudantium molestias nam quae repellat, saepe, soluta vitae voluptatibus. Asperiores#}
{#                                    aspernatur corporis eos officiis possimus tempora!#}
{#                                </li>#}
{#                            </ol>#}
{#                        </li>#}
{#                        <li class="main_item pb-5">Порядок разрешения споров#}
{#                            <ol class="offer_blk_inside_list pl-0 pl-sm-0 pl-md-5">#}
{#                                <li class="py-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci#}
{#                                    cupiditate ducimus fugiat laborum neque perspiciatis praesentium tempore. Cum#}
{#                                    doloremque, dolores molestiae nisi officia ullam ut velit. Aperiam aspernatur atque#}
{#                                    consequuntur dolorum expedita labore laborum libero nemo nulla obcaecati pariatur#}
{#                                    quia quod repudiandae, sed sequi similique tenetur unde voluptate voluptates#}
{#                                    voluptatibus.#}
{#                                </li>#}
{#                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolore eligendi#}
{#                                    in reiciendis. A adipisci aliquam aliquid cumque cupiditate deleniti dicta#}
{#                                    dignissimos dolore eligendi eum fugit in ipsum iste iure libero magnam, nihil#}
{#                                    praesentium provident quae quibusdam quos reiciendis ullam velit. Aliquid animi#}
{#                                    architecto culpa enim facilis incidunt laborum nemo nobis ullam vero. Architecto#}
{#                                    atque consequuntur, culpa dicta dignissimos dolorem earum eligendi eum illum#}
{#                                    laudantium molestias nam quae repellat, saepe, soluta vitae voluptatibus. Asperiores#}
{#                                    aspernatur corporis eos officiis possimus tempora!#}
{#                                </li>#}
{#                            </ol>#}
{#                        </li>#}
{#                        <li class="main_item pb-5">Порядок внесения изменений и дополнений#}
{#                            <ol class="offer_blk_inside_list pl-0 pl-sm-0 pl-md-5">#}
{#                                <li class="py-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci#}
{#                                    cupiditate ducimus fugiat laborum neque perspiciatis praesentium tempore. Cum#}
{#                                    doloremque, dolores molestiae nisi officia ullam ut velit. Aperiam aspernatur atque#}
{#                                    consequuntur dolorum expedita labore laborum libero nemo nulla obcaecati pariatur#}
{#                                    quia quod repudiandae, sed sequi similique tenetur unde voluptate voluptates#}
{#                                    voluptatibus.#}
{#                                </li>#}
{#                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolore eligendi#}
{#                                    in reiciendis. A adipisci aliquam aliquid cumque cupiditate deleniti dicta#}
{#                                    dignissimos dolore eligendi eum fugit in ipsum iste iure libero magnam, nihil#}
{#                                    praesentium provident quae quibusdam quos reiciendis ullam velit. Aliquid animi#}
{#                                    architecto culpa enim facilis incidunt laborum nemo nobis ullam vero. Architecto#}
{#                                    atque consequuntur, culpa dicta dignissimos dolorem earum eligendi eum illum#}
{#                                    laudantium molestias nam quae repellat, saepe, soluta vitae voluptatibus. Asperiores#}
{#                                    aspernatur corporis eos officiis possimus tempora!#}
{#                                </li>#}
{#                            </ol>#}
{#                        </li>#}
{#                        <li class="main_item">Заключительные положения#}
{#                            <ol class="offer_blk_inside_list pl-0 pl-sm-0 pl-md-5">#}
{#                                <li class="pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci#}
{#                                    cupiditate ducimus fugiat laborum neque perspiciatis praesentium tempore. Cum#}
{#                                    doloremque, dolores molestiae nisi officia ullam ut velit. Aperiam aspernatur atque#}
{#                                    consequuntur dolorum expedita labore laborum libero nemo nulla obcaecati pariatur#}
{#                                    quia quod repudiandae, sed sequi similique tenetur unde voluptate voluptates#}
{#                                    voluptatibus.#}
{#                                </li>#}
{#                            </ol>#}
{#                        </li>#}
                    </ol>
                </div>
            </div>
        </div>
    </div>


{% endblock %}