{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="row justify-content-center">
    <div class=" w-100" style="
    height: auto;
    min-height: 30vh;
    background: url(/static/image/rabota_bg.jpg) 50% 55% no-repeat;
    background-size: cover;
">
        <div class="page_head_img_fon row justify-content-center align-items-center">
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                <p class="m-0 fz_25rem line_height_1 text-center">Как стать исполнителем</p>
            </div>
        </div>
    </div>
    <div class="col-10 col-sm-5 col-md-4 col-lg-4 col-xl-3 p-0 mt-5">
        <button class="hiw_btn w-100">Зарегистрироваться</button>
    </div>
</div>
<!--<div class="row justify-content-center">-->
<!--    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">-->
<!--        <div class="row p-5 col-12">-->
<!--            <p class="fz_2rem mb-3">Что такое "Безопасная сделка"?</p>-->
<!--            <p>Безопасная сделка — это безопасная онлайн-оплата заказа на сайте с резервированием-->
<!--                средств заказчика на транзитном счете в банке, пока работа будет в процессе выполнения.</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="row justify-content-center">-->
<!--    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">-->
<!--        <hr class="block_hr">-->
<!--    </div>-->
<!--</div>&lt;!&ndash;hr&ndash;&gt;-->
<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <div class="row justify-content-around py-5">
            <div class="col-12">
                <p class="hiw_headers">Как у нас заработать?</p>
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-3 col-xl-3">
                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/registration.png" alt=""></div>
                <p class="hiw_header">1. Зарегистрируйтесь</p>
                <p class="hiw_text">Подтвердите персональные данные и станьте проверенным специалистом</p>
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-3 col-xl-3">
                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/menu.png" alt=""></div>
                <p class="hiw_header">2. Выберите заказ</p>
                <p class="hiw_text">Если вас устраивают условия заказа, нажмите кнопку "Выполнить"</p>
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-3 col-xl-3">
                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/time.png" alt=""></div>
                <p class="hiw_header">3. Выполните работу</p>
                <p class="hiw_text">Если заказчик выбрал вас для выполнения заказа, приступайте к работе</p>
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-3 col-xl-3">
                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/payment.png" alt=""></div>
                <p class="hiw_header">4. Получите деньги</p>
                <p class="hiw_text">После выполнения работы попросите заказчика оставить отзыв и получите оплату</p>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <hr class="block_hr">
    </div>
</div><!--hr-->

<div class="row justify-content-center bg_color_FAF9F7">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <div class="row justify-content-around py-5">
            <div class="col-12">
                <p class="hiw_headers">Почему мы?</p>
            </div>
            <div class="col-12">
                {% for i in whyme%}
                <div class="row py-3">
                    {% if i.left %}
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 p-3">
<!--                        <img src="/static/image/nik-macmillan-YXemfQiPR_E-unsplash.jpg" class="w-100" alt="">-->
                        <img src="{{MEDIA.URL}}{{i.image.url}}" class="w-100" alt="">
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-8 p-3">
                        <p class="news_header">{{i.header}}</p>
                        <p class="news_text mt-2">{{i.text}}
                        </p>
                    </div>
                    {% else %}
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-8 p-3">
                        <p class="news_header">{{i.header}}</p>
                        <p class="news_text mt-2">{{i.text}}
                        </p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 p-3">
<!--                        <img src="/static/image/nik-macmillan-YXemfQiPR_E-unsplash.jpg" class="w-100" alt="">-->
                        <img src="{{MEDIA.URL}}{{i.image.url}}" class="w-100" alt="">
                    </div>
                    {% endif %}
                </div>
                {% endfor %}



<!--                <div class="row py-3">-->

<!--                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-8 p-3">-->
<!--                        <p class="news_header">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>-->
<!--                        <p class="news_text mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie-->
<!--                            convallis purus ut dignissim. Vivamus accumsan, lectus vel cursus interdum, mi arcu commodo-->
<!--                            turpis,-->
<!--                            vel rhoncus ex risus eu eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In-->
<!--                            molestie-->
<!--                            convallis purus ut dignissim. Vivamus accumsan, lectus vel cursus interdum, mi arcu commodo-->
<!--                            turpis, vel rhoncusex risus eu eros.-->
<!--                        </p>-->
<!--                    </div>-->
<!--                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 p-3">-->
<!--                        <img src="/static/image/helloquence-5fNmWej4tAA-unsplash.jpg" class="w-100" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row py-3">-->
<!--                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 p-3">-->
<!--                        <img src="/static/image/croissant-oUKiDSdTTyg-unsplash.jpg" class="w-100" alt="">-->
<!--                    </div>-->
<!--                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-8 p-3">-->
<!--                        <p class="news_header">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>-->
<!--                        <p class="news_text mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie-->
<!--                            convallis purus ut dignissim. Vivamus accumsan, lectus vel cursus interdum, mi arcu commodo-->
<!--                            turpis,-->
<!--                            vel rhoncus ex risus eu eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In-->
<!--                            molestie-->
<!--                            convallis purus ut dignissim. Vivamus accumsan, lectus vel cursus interdum, mi arcu commodo-->
<!--                            turpis, vel rhoncusex risus eu eros.-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <hr class="block_hr">
    </div>
</div><!--hr-->

<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <div class="row justify-content-around py-5">
            <div class="col-12">
                <p class="hiw_headers">Наши достижения в цифрах</p>


                <div class="row justify-content-around">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 py-5 rectW">
                        <p class="m-0 text-center fontCategorySmall colorDarkGrey pb-5">За сегодня создано заказов</p>
                        <p class="fz_2rem m-0 text-center" id="counter1">0</p>
                        <p class="m-0 pt-5 fz_15rem colorDarkGrey text-center">заказов</p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 py-5 rectW">
                        <p class="m-0 text-center fontCategorySmall colorDarkGrey pb-5">Количество исполнителей</p>
                        <p class="fz_2rem m-0 text-center" id="counter2">0</p>
                        <p class="m-0 pt-5 fz_15rem colorDarkGrey text-center">человек</p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 py-5 rectW">
                        <p class="m-0 text-center fontCategorySmall colorDarkGrey pb-5">Количество выполненных
                                заданий</p>
                        <p class="fz_2rem m-0 text-center" id="counter3">0</p>
                        <p class="m-0 pt-5 fz_15rem colorDarkGrey text-center">штук</p>
                    </div>
                </div>
            </div>

            <!--            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">-->
            <!--                <p class="hiw_header">За вчера создано заказов</p>-->
            <!--                <p class="hiw_text"></p>-->
            <!--            </div>-->
            <!--            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">-->
            <!--                <p class="hiw_header">Средняя стоимость заданий</p>-->
            <!--                <p class="hiw_text"></p>-->
            <!--            </div>-->
            <!--            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">-->
            <!--                <p class="hiw_header">За вчера исполнителями заработано</p>-->
            <!--                <p class="hiw_text"></p>-->
            <!--            </div>-->


            <!--            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">-->
            <!--                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/rab2.svg" alt=""></div>-->
            <!--                <p class="hiw_header">Выберите заказ</p>-->
            <!--                <p class="hiw_text">Если вас устраивают условия заказа, нажмите кнопку "Выполнить"</p>-->
            <!--            </div>-->
            <!--            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">-->
            <!--                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/rab3.svg" alt=""></div>-->
            <!--                <p class="hiw_header">Выполните работу</p>-->
            <!--                <p class="hiw_text">Если заказчик выбрал вас для выполнения заказа, приступайте к работе</p>-->
            <!--            </div>-->
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <hr class="block_hr">
    </div>
</div><!--hr-->

<!--Какую работу у нас можно выполнять?-->

<div class="row justify-content-center bg_color_FAF9F7">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <div class="row justify-content-around py-5">
            <div class="col-12">
                <p class="hiw_headers">Отзывы</p>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="w-100 my-3 text-center"><img class="w-50 img_circle" src="/static/image/otziv1.jpg" alt="">
                </div>
                <p class="hiw_header">МАРЬЯНА, КЛИНЕР</p>
                <p class="hiw_text">На Кабанчике мне нравится то, что я могу сама планировать свое личное время и
                    финансы. Здорово, что нет никаких начальников и я сама отвечаю за качество своей работы. Отличным
                    бонусом также есть то, что я могу подстроить свою работу так, чтобы больше времени проводить со
                    своим ребенком.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="w-100 my-3 text-center"><img class="w-50 img_circle" src="/static/image/otziv2.jpg" alt="">
                </div>
                <p class="hiw_header">ВАСИЛИЙ, ДОМАШНИЙ МАСТЕР</p>
                <p class="hiw_text">Кабанчик мне нравится тем, что этот сервис сделан для людей, здесь очень
                    человеческие условия для работы. Он отлично помогает тем, кому нужен дополнительный заработок или
                    даже основная работа. Я чувствую здесь перспективы и развитие — это мотивирует работать.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="w-100 my-3 text-center"><img class="w-50 img_circle" src="/static/image/otziv3.jpg" alt="">
                </div>
                <p class="hiw_header">ДИАНА, ДИЗАЙНЕР</p>
                <p class="hiw_text">С Кабанчиком дружу давно:) Всегда есть работа для специалиста. Помимо того, что это
                    неплохая подработка, мне нравится, что на Кабанчике можно выбирать и фильтровать заказы. Еще
                    огромный плюс в том, что здесь собрано мое полное портфолио с галереей работ, услугами, прайсом и
                    отзывами заказчиков. Это очень удобно.</p>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <hr class="block_hr">
    </div>
</div><!--hr-->


<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <div class="row justify-content-around py-2">
            <div class="col-12 mb-5">
                <p class="hiw_headers">Какую работу у нас можно выполнять?</p>
            </div>

<!--            <div class="col-11 col-sm-5 col-md-3 col-lg-3 col-xl-2 mx-1 my-3">-->
<!--                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/11.png" alt=""></div>-->
<!--                <p class="hiw_header m-0">Домашний мастер</p>-->
<!--                <p class="hiw_text">7 подкатегорий</p>-->
<!--            </div>-->
            {% for i in list %}
            <div class="col-11 col-sm-5 col-md-3 col-lg-3 col-xl-2 mx-1 my-3">
                <div class="w-100 my-3 text-center"><img class="w-50" src="{{MEDIA.URL}}{{i.pop.url}}" alt=""></div>
                <p class="hiw_header m-0">{{i.pop}}</p>
                <p class="hiw_text">{{i.pop}} подкатегорий</p>
            </div>
            {% endfor %}


        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <hr class="block_hr">
    </div>
</div><!--hr-->

<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <div class="row justify-content-center py-5">
            <div class="col-12 pb-3">
                <p class="hiw_headers">Зарегистрируйтесь и начните зарабатывать прямо сейчас</p>
            </div>
            <div class="col-11 col-sm-6 col-md-5 col-lg-4 col-xl-3 my-3">
                <button class="hiw_btn w-100">Создать задание</button>
            </div>
            <div class="col-11 col-sm-6 col-md-5 col-lg-4 col-xl-3 my-3">
                <button class="hiw_btn w-100">Регистрация</button>
            </div>
        </div>
        <div class="row justify-content-around py-2">
            {% for i in seo %}
            <p class="m-0">{{i.text}}</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}