{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="row justify-content-center">
    <div class="page_head_img w-100">
        <div class="page_head_img_fon row justify-content-center align-items-center">
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                <p class="m-0 fz_25rem line_height_1 text-center">Как стать исполнителем</p>
            </div>
        </div>
    </div>
</div>
<!--<div class="row justify-content-center">-->
<!--    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">-->
<!--        <div class="row p-5 col-12">-->
<!--            <p class="fz_2rem mb-3">Что такое "Безопасная сделка"?</p>-->
<!--            <p>Безопасная сделка — это безопасная онлайн-оплата заказа на сайте с резервированием-->
<!--                средств заказчика на транзитном счете в банке, пока работа будет в процессе выполнения.</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <hr class="block_hr">
    </div>
</div><!--hr-->
<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <div class="row justify-content-around py-5">
            <div class="col-12">
                <p class="hiw_headers">Как у нас заработать?</p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/rab1.svg" alt=""></div>
                <p class="hiw_header">Зарегистрируйтесь</p>
                <p class="hiw_text">Подтвердите персональные данные и станьте проверенным специалистом</p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/rab2.svg" alt=""></div>
                <p class="hiw_header">Выберите заказ</p>
                <p class="hiw_text">Если вас устраивают условия заказа, нажмите кнопку "Выполнить"</p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/rab3.svg" alt=""></div>
                <p class="hiw_header">Выполните работу</p>
                <p class="hiw_text">Если заказчик выбрал вас для выполнения заказа, приступайте к работе</p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/rab4.svg" alt=""></div>
                <p class="hiw_header">Получите деньги</p>
                <p class="hiw_text">После выполнения работы попросите заказчика оставить отзыв и получите оплату</p>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <hr class="block_hr">
    </div>
</div><!--hr-->

<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <div class="row justify-content-around py-5">
            <div class="col-12 pb-5">
                <p class="hiw_headers">Почему мы?</p>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 p-3">
                        <img src="/static/image/123.jpeg" class="w-100" alt="">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-8 p-3">
                        <p class="news_header">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                        <p class="news_text mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie
                            convallis purus ut dignissim. Vivamus accumsan, lectus vel cursus interdum, mi arcu commodo turpis,
                            vel rhoncus ex risus eu eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie
                            convallis purus ut dignissim. Vivamus accumsan, lectus vel cursus interdum, mi arcu commodo turpis, vel rhoncusex risus eu eros.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 p-3">
                        <img src="/static/image/123.jpeg" class="w-100" alt="">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-8 p-3">
                        <p class="news_header">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                        <p class="news_text mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie
                            convallis purus ut dignissim. Vivamus accumsan, lectus vel cursus interdum, mi arcu commodo turpis,
                            vel rhoncus ex risus eu eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie
                            convallis purus ut dignissim. Vivamus accumsan, lectus vel cursus interdum, mi arcu commodo turpis, vel rhoncusex risus eu eros.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 p-3">
                        <img src="/static/image/123.jpeg" class="w-100" alt="">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-8 p-3">
                        <p class="news_header">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                        <p class="news_text mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie
                            convallis purus ut dignissim. Vivamus accumsan, lectus vel cursus interdum, mi arcu commodo turpis,
                            vel rhoncus ex risus eu eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie
                            convallis purus ut dignissim. Vivamus accumsan, lectus vel cursus interdum, mi arcu commodo turpis, vel rhoncusex risus eu eros.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <hr class="block_hr">
    </div>
</div><!--hr-->

<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <div class="row justify-content-around py-5">
            <div class="col-12">
                <p class="hiw_headers">Наши достижения в цифрах</p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <p class="hiw_header">За вчера создано заказов</p>
                <p class="hiw_text"></p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <p class="hiw_header">Средняя стоимость заданий</p>
                <p class="hiw_text"></p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <p class="hiw_header">За вчера исполнителями заработано</p>
                <p class="hiw_text"></p>
            </div>
<!--            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">-->
<!--                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/rab2.svg" alt=""></div>-->
<!--                <p class="hiw_header">Выберите заказ</p>-->
<!--                <p class="hiw_text">Если вас устраивают условия заказа, нажмите кнопку "Выполнить"</p>-->
<!--            </div>-->
<!--            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">-->
<!--                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/rab3.svg" alt=""></div>-->
<!--                <p class="hiw_header">Выполните работу</p>-->
<!--                <p class="hiw_text">Если заказчик выбрал вас для выполнения заказа, приступайте к работе</p>-->
<!--            </div>-->
        </div>
    </div>
</div>


{% endblock %}