{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}

    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class=" w-100 rules_hdr_bg">
                <div class="rules_hdr_bg_layout row justify-content-center align-items-center">
                    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                        <p class="m-0 fz_2rem line_height_1 text-center">Правила проекта</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center rules_blk">
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                <div class="row pb-5 pt-5">
                    <ol class="rules_blk_list">
                        {% for i,j in rules %}
                            <li class="main_item pb-5">{{ i }}
                                <ol class="rules_blk_inside_list pl-0 pl-sm-0 pl-md-5">
                                    {% for k in j %}
                                        <li class="py-3">{{ k }}</li>
                                    {% endfor %}
                                </ol>
                            </li>
                        {% endfor %}
{#                        <li class="main_item pb-5">Правила проекта#}
{#                            <ol class="rules_blk_inside_list pl-0 pl-sm-0 pl-md-5">#}
{#                                <li class="py-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod#}
{#                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis#}
{#                                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis#}
{#                                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat#}
{#                                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui#}
{#                                    officia deserunt mollit anim id est laborum.#}
{#                                </li>#}
{#                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor#}
{#                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud#}
{#                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute#}
{#                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla#}
{#                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia#}
{#                                    deserunt mollit anim id est laborum.#}
{#                                </li>#}
{#                            </ol>#}
{#                        </li>#}
{#                        <li class="main_item pb-5">Нарушения и меры наказания#}
{#                            <ol class="rules_blk_inside_list pl-0 pl-sm-0 pl-md-5">#}
{#                                <li class="py-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod#}
{#                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis#}
{#                                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis#}
{#                                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat#}
{#                                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui#}
{#                                    officia deserunt mollit anim id est laborum.#}
{#                                </li>#}
{#                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor#}
{#                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud#}
{#                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute#}
{#                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla#}
{#                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia#}
{#                                    deserunt mollit anim id est laborum.#}
{#                                </li>#}
{#                            </ol>#}
{#                        </li>#}
                    </ol>
                </div>
            </div>
        </div>

    </div>

{% endblock %}