{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="row justify-content-center">
    <div class=" w-100" style="
    height: auto;
    min-height: 30vh;
    background: url(/static/image/contract.jpg) 50% 75% no-repeat;
    background-size: cover;
">
        <div class="page_head_img_fon row justify-content-center align-items-center">
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                <p class="m-0 fz_25rem line_height_1 text-center">Безопасная сделка</p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <div class="row p-5 col-12">
            <p class="fz_2rem mb-3">Что такое "Безопасная сделка"?</p>
            {% for w in what %}
            <p>{{w.text}}</p>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <hr class="block_hr">
    </div>
</div>
<div class="row justify-content-center bg_color_FAF9F7">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <div class="row justify-content-around py-5">
            <div class="col-12">
                <p class="hiw_headers">Как работает "Безопасная сделка"?</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/st1.png" alt=""></div>
                <p class="hiw_header">Создается заказ</p>
                <p class="hiw_text">Заказчик публикует заказ на сервисе и выбирает специалиста из предложений</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/st2.svg" alt=""></div>
                <p class="hiw_header">Резервируется оплата</p>
                <p class="hiw_text">Бюджет списывается с карты заказчика и резервируется в банке до закрытия заказа</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="w-100 my-3 text-center"><img class="w-50" src="/static/image/st3.svg" alt=""></div>
                <p class="hiw_header">Заказ оплачивается/возвращаются средства</p>
                <p class="hiw_text">Если заказ был успешно выполнен, то деньги поступают специалисту, иначе —
                    возвращаются заказчику.</p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <hr class="block_hr">
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
        <div class="row justify-content-around py-5">
            <div class="col-12">
                <p class="hiw_headers pb-5">Преимущества "Безопасной сделки"</p>
                <div class="row justify-content-around">
                    {% for b in benefits %}
                    <div class="col-10 col-sm-5 col-md-5 col-lg-5 col-xl-4 mx-1">
                        <div class="w-100 my-3 text-center"><img class="w-50" src="{{MEDIA_URL}}{{b.image.url}}" alt="">
                        </div>
                        <p class="hiw_header">{{b.header}}</p>
                        <p class="hiw_text">{{b.text}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>


            <div class="row justify-content-center mt-5 col-12">
                <div class="col-10 col-sm-5 col-md-4 col-lg-4 col-xl-3 p-0">
                    <button class="hiw_btn w-100">Создать задание</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!--<div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">-->


<!--</div>-->


{% endblock %}