{% extends layout %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid p-0">
    <div class="row justify-content-center">
        <div class=" w-100 serv_details_hdr_bg">
            <div class="ques_hdr_bg_layout row justify-content-center align-items-center">
                <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                    <p class="m-0 fz_2rem line_height_1 text-center">Наименование услуги</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center my-4 serv-details_blk">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
            <div class="row m-0">
                <div class="col-12 p-0">
                    <div class="row">
                        <div class="d-none d-md-block col-md-4 p-0 text-left">
                            <img alt="" class="img-fluid pb-2" src="/static/image/rate-icon_1.png">
                            <span class="serv-users-span p-1"> 127 пользователей</span>
                        </div>
                        <div class="col-12 col-md-8 p-0 text-center text-md-right">
                            <span class="serv-price-span fz_2rem">300 руб/мес</span>
                            <a class="mx-auto" href="#">
                                <button class="btn btn-primary mb-3 ml-3">Подключить</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5 serv-details_blk">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
            <div class="row m-0">
                <div class="col-12 p-0">
                    <div class="row">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempus imperdiet nulla malesuada pellentesque elit eget. Vitae tortor condimentum lacinia quis vel eros donec ac odio. Faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Rhoncus aenean vel elit scelerisque mauris. In nisl nisi scelerisque eu ultrices vitae. Non consectetur a erat nam at lectus urna duis convallis. Duis convallis convallis tellus id interdum velit laoreet. Pulvinar sapien et ligula ullamcorper. Elementum pulvinar etiam non quam lacus. Eu tincidunt tortor aliquam nulla facilisi cras fermentum odio.
                        </p>
                        <p>
                            Etiam tempor orci eu lobortis elementum. Dignissim enim sit amet venenatis urna cursus. Nibh cras pulvinar mattis nunc sed blandit libero volutpat. Feugiat nisl pretium fusce id. Eu feugiat pretium nibh ipsum consequat nisl. Nec nam aliquam sem et tortor consequat. Mattis pellentesque id nibh tortor id aliquet lectus proin. Nunc mattis enim ut tellus elementum sagittis. Tempor nec feugiat nisl pretium fusce id velit ut tortor. Libero enim sed faucibus turpis in eu mi bibendum neque. Ultrices vitae auctor eu augue ut lectus arcu bibendum. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. Arcu dui vivamus arcu felis bibendum ut tristique et egestas. Eget mi proin sed libero enim sed faucibus turpis in. Feugiat scelerisque varius morbi enim. Orci dapibus ultrices in iaculis nunc sed augue lacus viverra. Bibendum est ultricies integer quis.
                        </p>
                    </div>
                </div>
                <div class="col-12 p-0 my-4">
                    <div class="row portfolio-photos_blk">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 img_wrapper">
                            <img alt="..." class="img-fluid center-block" src="/static/image/hiw_bg.jpeg">
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 img_wrapper">
                            <img alt="..." class="img-fluid center-block" src="/static/image/work-hardening.jpg">
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 img_wrapper">
                            <img alt="..." class="img-fluid center-block" src="/static/image/cio-c.jpg">
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 img_wrapper">
                            <img alt="..." class="img-fluid center-block" src="/static/image/contract.jpg">
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 img_wrapper">
                            <img alt="..." class="img-fluid center-block" src="/static/image/security.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}