{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid p-0">
    <div class="row m-0 justify-content-center">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-0 pt-3 pb-3">
            <div class="row m-0 justify-content-start">
                <label class="news_header w-100 mb-0 pb-3">Топ лучших исполнителей</label>
                <label class="news_type w-100 mb-0">Рейтинг исполнителей рассчитывается на основании количества отзывов, которые исполнитель получил за последние 30 дней и за все время существования сервиса.
Чтобы предложить работу выбранному исполнителю, нажмите на кнопку "Предложить работу".</label>
            </div>
            <div class="row m-0 justify-content-start pt-3">
                <div class="col-auto pl-0">
                    <div class="top-bg"><a class="top-a" href="">Все время</a></div>

                </div>
                <div class="col-auto pr-0">
                    <div class="top-bg"><a class="top-a" href="">Последние 30 дней</a></div>
                </div>
            </div>
            <div class="row m-0 justify-content-start pt-3">
                <hr class="line" />
            </div>
            <div class="row m-0 justify-content-start">
                <div class="col-12 p-0">
                    <div class="row">
                        <div class="col-2 p-3">
                            <img src="{% static 'image/user.png' %}" class="w-100 user-img" alt="">
                        </div>
                        <div class="col-10 p-3">
                            <div class="row justify-content-between align-items-center">
                                <label class="user-name">Иван</label>
                                <button class="user-work-bttn">Предложить работу</button>
                            </div>
                            <div class="row justify-content-start align-items-center">

                            </div>
                        </div>
                    </div>

<!--                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-8 p-3">-->
<!--                        <p class="news_header">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>-->
<!--                        <p class="news_type">Lorem ipsum dolor sit amet</p>-->
<!--                        <p class="news_text mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie convallis-->
<!--                            purus ut dignissim. Vivamus accumsan, lectus vel cursus interdum, mi arcu commodo turpis, vel rhoncus-->
<!--                            ex risus eu eros.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie convallis purus-->
<!--                            ut dignissim. Vivamus accumsan, lectus vel cursus interdum, mi arcu commodo turpis, vel rhoncus ex-->
<!--                            risus eu eros.</p>-->
<!--                        <div class="w-100 text-right mt-3">-->
<!--                            <button class="btn_news">Подробнее</button>-->
<!--                        </div>-->
<!--                    </div>-->

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}