{% extends layout %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid p-0">
    <div class="row justify-content-center">
        <div class=" w-100 serv_details_hdr_bg">
            <div class="ques_hdr_bg_layout row justify-content-center align-items-center">
                <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                    <p class="m-0 fz_2rem line_height_1 text-center">Мои отзывы</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
            <div class="row m-0">
                <div class="col-12 p-0">
                    <div class="row reviews_blk">
                        <div class="col-6 col-md-3 col-lg-3 col-xl-2 p-1">
                            <div class="row justify-content-around justify-content-md-center align-content-center align-items-center pt-2">
                                <span class="col-12 text-center reviews_span">10</span>
                                <label class="reviews_label mb-2">отзывов</label>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-3 col-xl-2 p-1">
                            <div class="row justify-content-around justify-content-md-center align-content-center align-items-center pt-2 pl-2 settings-rew_blk">
                                <span class="col-12 text-center reviews_span">98%</span>
                                <label class="reviews_label mb-2">положительных</label>
                            </div>
                        </div>
                        <div class="col-8 col-md-4 col-lg-3 col-xl-3 p-1">
                            <div class="row justify-content-start justify-content-md-start align-content-center align-items-center pt-md-2 pl-3 settings-rew_blk-1">
                                <label class="reviews_label my-2 ">качество работы: <span class="pl-2">98%</span></label>
                                <label class="reviews_label mb-2">вежливость: <span class="pl-2">98%</span></label>
                                <label class="reviews_label mb-2">пунктуальность: <span class="pl-2">98%</span></label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="line_blk m-0 my-4">
                <div class="col-12 p-0 mb-3">
                    <div class="row p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span-1">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row col-bg-gray p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span-1">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                <div class="row col-bg-gray p-2 p-md-3">
                    <div class="col-12 col-md-12 p-1">
                        <div class="row justify-content-between justify-content-md-start pt-2">
                            <h4>Иван И.</h4>
                            <span class="profile-span pt-1 pl-3">12.07.1979</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 p-1">
                        <div class="row justify-content-start justify-content-md-start">
                            <div class="star-rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 p-1">
                        <div class="row justify-content-start justify-content-md-start pt-2">
                            <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <span class="prof-span">Наименование задания к которому отзыв</span>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span-1">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row col-bg-gray p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span-1">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span-1">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row col-bg-gray p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span-1">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span-1">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row col-bg-gray p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span-1">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span-1">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row col-bg-gray p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span-1">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span-1">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row col-bg-gray p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span-1">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span-1">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row col-bg-gray p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span-1">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span-1">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row col-bg-gray p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span-1">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span-1">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 mb-3">
                    <div class="row col-bg-gray p-2 p-md-3">
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-between justify-content-md-start pt-2">
                                <h4>Иван И.</h4>
                                <span class="profile-span pt-1 pl-3">12.07.1979</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start">
                                <div class="star-rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 p-1">
                            <div class="row justify-content-start justify-content-md-start pt-2">
                                <p class="profile_para mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <span class="prof-span-1">Наименование задания к которому отзыв</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row w-100">
                    <div class="col-md-12 mb-5 mt-3">
                        <nav aria-label="...">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a aria-label="Previous" class="page-link" href="#">
                                        <span aria-hidden="true">«</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active">
                    <span class="page-link">1<span class="sr-only">(current)</span>
                    </span>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href=""><span aria-hidden="true">»</span>
                                        <span class="sr-only">Next</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}