{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid p-0">
    <div class="category-head-img w-100">
        <div class="category-head-fon row justify-content-center align-items-center">
            <label class="category-head">Все категории</label>
        </div>
    </div>
</div>
<div class="container-fluid p-0">
		<div class="row justify-content-center pt-3 pb-3">
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-0">
                <div class="row m-0  pt-3 pb-3">
                    {% for c in category %}
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pt-3 pb-3">
                        <div class="row align-items-center">
                            <div class="col-2 p-0">
                                <img class="w-100" src="{{MEDIA_URL}}{{c.image.url}}" alt="">
                            </div>
                            <div class="col-10">
                                <span class="fontCategory">
                                    <a class="color_black" href="{% url 'Category_item' c.name %}">
                                            {{ c.name }}
                                    </a>
                                </span>
                            </div>

                        </div>
                        {% for s in c.first_five %}
                        <div class="row ml-5 mt-2">
                            <div class="col-md-12 ">
                                <a class="fontCategorySmall colorDarkGrey" href="#">{{ s.name }}</a>
                                <small class="ml-2 colorLightGrey">1145</small>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="collapse" id="collapseExample{{forloop.counter}}">
                            {% for s in c.rest %}
                            <div class="row mt-2">
                                <div class="col-md-12 ">
                                    <a class="fontCategorySmall colorDarkGrey" href="#">{{s.name}}</a>
                                    <small class="ml-2 colorLightGrey">1145</small>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12 ">
                                <a class="fontCategorySmall colorDarkGrey more_sub" data-toggle="collapse" href="#collapseExample{{forloop.counter}}" aria-expanded="false" aria-controls="collapseExample">Еще...</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
		</div>
</div>
{% endblock %}