html{
    scroll-behavior:smooth;
}
body {
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}
label.check, input.check{
     font-size: 18px;
    vertical-align: middle;
}
input[type=checkbox].check{
    width: 18px;
    height: 18px;
    display: inline-block;
}

@media (min-width: 320px) {
    .news_det_img {
        width: 100%;
    }

    .news_img_p {
        font-size: 1.5rem
    }

    .login-form {
        order: 1;
    }

    .register-link {
        order: 2;
    }
}
.br-red{
    border:1px solid #AF4B53;
}
@media (min-width: 576px) {
    .news_det_img {
        width: 100%;
    }

    .news_img_p {
        font-size: 2rem
    }
}

@media (min-width: 768px) {
    .news_det_img {
        width: 50%;
    }

    .news_img_p {
        font-size: 2rem
    }
    .login-form {
        order: 2;
    }
    .register-link {
        order: 1;
    }
}

@media (min-width: 992px) {
    .news_det_img {
        width: 50%;
    }

    .news_img_p {
        font-size: 2.5rem
    }

    .login-form {
        order: 2;
    }
    .register-link {
        order: 1;
    }
}

@media (min-width: 1200px) {
    .news_det_img {
        width: 50%;
    }

    .news_img_p {
        font-size: 2.5rem
    }

    .login-form {
        order: 2;
    }
    .register-link {
        order: 1;
    }
}


.a-center {
    text-align: center;
}

.a-left {
    text-align: left;
}

.a-right {
    text-align: right;
}

div.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.fix-top {
    z-index: 100;
    position: sticky;
    top: 0;
    min-height: 2em;
    background: white;
}

.sel {
    background: none;
    border: none;
}

.search-input {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-bttn {
    /*border: 1px solid #3E789D;*/
    border: 1px solid #AF4B53;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.search-block{
    border-radius: 5px;
    transition: .3s;
}
.search-block:hover{
    box-shadow: 0 0 10px white;
    transition: .3s;
}
.search-block:hover .search-input{
    border:1px solid #aaa;
}
.topCarucel-head {
    font-weight: 700;
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 10px grey;
    text-align: center;
}

.topCarucel-text {
    font-weight: 400;
    font-size: 1.1rem;
    color: white;
    text-shadow: 0 0 10px grey;
    text-align: center;
}

.viz {
    opacity: 1;
    transition: 1s;
}

/*nav{*/
/*	background-color: #fff;*/
/*}*/
/*кнопки полные заполненные цветом например НАЙТИ*/
.btn.chColorFull {
    /*background-color: #3E789D;*/
    background-color: #AF4B53;
    /*color:#3E789D;*/
    color: #fff;

}

.btn.chColorFull:hover {
    /*background-color: #5394bd;*/
    background-color: #AF4B53;
    color: #fff;

}

.btn.chColorFull:active {
    background-color: #5394bd;
    color: #fff;
    box-shadow: none;

}

.btn.chColorFull:focus {
    background-color: #5394bd;
    color: #fff;
    box-shadow: none;

}

/*кнопки полные заполненные цветом например НАЙТИ*/

/*кнопка с цветом при наведении*/
.btn.chColorBorder {
    border: 1px solid #3E789D;

}

.btn.chColorBorder:hover {

    border: 1px solid #3E789D;
    color: #fff;
}

.btn.chColorBorder:focus {

    border: 1px solid #3E789D;
    color: #fff;
    box-shadow: none;
}

.btn.chColorBorder:active {

    border: none;
    color: #fff;
    box-shadow: none;
}

.colorSearch {
    color: #5394bd;
}

.colorSearch:active {
    background-color: #5394bd;
}

.colorSearch:focus {
    background-color: #5394bd;
}

.colorSearch:hover {
    background-color: #5394bd;
}

/*кнопка с цветом при наведении*/


/*кнопка Войти*/
.btn.DisableBorder {
    border: none;
    color: #AF4B53;
    font-size: 1.1rem;
    background: none;
}


.btn.DisableBorder:hover {
    text-decoration: underline;
    border: none;
    color: #AF4B53;
}

.btn.DisableBorder:focus {
    background-color: #FAF9F7;
    /*background-color: rgb(216,216,216);*/
    border: none;
    box-shadow: none;
}

.btn.DisableBorder:active {

    border: none;
    box-shadow: none;
}

/*кнопка Войти*/

.colorRed {
    background-color: #FAF9F7;
    /*background-color: rgb(216,216,216);*/
}

.rec_ser {
    /*padding-top: 2rem;*/

    /*background-color: #FAF9F7;*/
    background-color: rgba(216,216,216,.5);

}

.topCarusel.h60, .carousel-inner.h60, .carousel-item.h60 {
    height: 60vh;
}

.topCarusel-caption {
    /*text-align: start;*/
    background: rgba(62, 120, 157, 0.4);
    /*bottom: 150px;*/
    /*padding-top:40px;*/
    /*padding-bottom:40px;*/

}

/*Кнопка в карусели*/
.colorbtnCarusel {
    border: 1px solid #fff;
    color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.colorbtnCarusel:active {
    background-color: #fff;
    color: #3E789D;
}

.colorbtnCarusel:focus {
    background-color: #fff;
    color: #3E789D;
}

.colorbtnCarusel:hover {
    background-color: #fff;
    color: #3E789D;
}

/*Кнопка в карусели*/

.fontCategoryDemi {
    font-weight: 600;
    font-size: 1.5rem;
}

.fontCategory {
    font-weight: 700;
    font-size: 1.5rem;
}

.fontCategory3Rem {
    font-weight: 700;
    font-size: 3rem;
}

.fontSizeH {
    /*margin-top: 15vh;*/
    font-size: 2rem;

}

.fontSizeHH {
    /*margin-top: 10vh;*/
    font-size: 3rem;
    font-weight: 700;
}

.fontCategorySmall {
    font-weight: 400;
    font-size: 1rem;


}

.fontCategoryVerySmall {
    font-weight: 300;
    font-size: 1rem;
}

.colorDarkGrey {
    /*color: #555555;*/
    color: black;
}

.colorDarkGrey:hover {
    /*color: #555555;*/
    color: black;
}

.colorLightGrey {
    color: #AAAAAA;
}

/*.sectionHowWork{*/
/*	min-height: 45vh;*/
/*}	*/

.sectionNote {
    /*height: 60vh;*/
    height: 100%;
    /*min-height: 100%;*/
    background: url('../image/note1.png') no-repeat center center;
    background-size: cover;

    color: #fff;
    text-align: center;
}
/*@media(max-height: 425px){*/
/*    .sectionNote{*/
/*        height: 100%;*/
/*    }*/
/*}*/

.rectW {
    background-color: #fff;
    /*width: 80%;*/
    border-radius: 5px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

.rectW:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sectionOtziv {
    /*height: 60vh;*/
    /*min-height: 500px;*/
    height: 100%;
    background: url('../image/podlogka.png') no-repeat center center;
    background-size: cover;

    color: #fff;
    text-align: center;
}

.colorBlue {
    background-color: #3E789D;
    color: #fff;

}

.colorDarkBlue {
    background-color: #305e7a;
    color: #fff;

}

.colorBlue a {
    color: #fff;

}

.blokOtziv {
    background: rgba(62, 120, 157, 0.4);
    /*height: 80%;*/
    /*margin-top: 6vh;*/
}

.textOtziv {
    font-size: 1.25rem;
}

/*div.row.rec_ser, div.sectionNote, div.row.sectionOtziv, .sectionHowWork.rec_ser, .category{*/
/*	margin-right: 0px !important;*/
/*    margin-left: 0px !important;*/
/*}*/


section#titleText {
    margin-top: 3rem;
    padding-top: 17rem;
    height: 50vh;
    min-height: 500px;
    background: url('../image/123.jpeg') no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: center;

}

.portfolio-header {
    text-align: center;
    font-weight: 700;
    font-size: 5rem;
    text-transform: uppercase;
    align-items: center;

}

.bg-map {
    background: url('../image/bg-map.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
}

.bg-color-light {
    background: rgba(255, 255, 255, .8);
}

.bg-color {
    background: rgba(131, 173, 172, .3);
}

.bg-color-dark {
    background: rgba(0, 0, 0, .3);
}

.contact-icon {
    /*color: white;*/
    color: black;
    /*color: rgba(131,173,172,1);*/
    font-size: 2.3rem;
    padding-bottom: 1.2rem;
}

.contact-text {
    color: black;
    font-weight: 700;
    font-size: 1.4rem;
}

.contact-a, .contact-a:hover {
    color: black;
}

.circle {
    width: 2.7rem;
    height: 2.7rem;
    background: white;
    border-radius: 50%;
    /*color:#3E789D;*/

    align-items: center;
    justify-content: center;
    display: flex
}

.circle a i {
    color: #3E789D;
}

.news_filter_select {
    color: #777;
}

.btn_news {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: #3E789D;
}

.btn_news:hover {
    text-decoration: underline;
}

.news_header {
    font-size: 2rem;
    margin: 0px;
    line-height: 1;
}

.news_type {
    margin: 0px;
    color: #777;
}

.news_text {
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.5rem; /* fallback */
    max-height: 4.5rem; /* fallback */
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.news_block {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    transition: 0.3s;
}

.news_block:hover {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

/*.header_img {*/
/*    height: 20vh;*/
/*    min-height: 100px;*/
/*    background: url(../image/news_bg.jpg) 100% 100% no-repeat;*/
/*    background-size: cover;*/
/*}*/

/*.header_img_fon {*/
/*    background-color: rgba(255, 255, 255, .5);*/
/*    align-content: center;*/
/*    height: 100%;*/
/*}*/

/*.header_img_p {*/
/*    font-size: 7rem;*/
/*    margin: 0px;*/
/*}*/

p {
    cursor: default;
    /*margin-bottom: 0px;*/
}
.page_head_img{
    height: auto;
    min-height: 20vh;
    background: url(../image/news_bg.jpg) 100% 100% no-repeat;
    background-size: cover;
}
.page_head_img_fon{
    background-color: rgba(128, 128, 128, .4);
    color: white;
    height: auto;
    min-height: 30vh;
}
.line_height_1{
    line-height: 1;
}
.img_circle{
    border-radius: 50%;
}
.head_icon_color{
    color: black;
    text-decoration: none;
}

/*.news_img {*/
/*    height: auto;*/
/*    min-height: 20vh;*/
/*    background: url(../image/news_bg.jpg) 100% 100% no-repeat;*/
/*    background-size: cover;*/
/*}*/

/*.news_img_fon {*/
/*    background-color: rgba(255, 255, 255, .5);*/
/*    !*align-content: end;*!*/
/*    height: auto;*/
/*    min-height: 20vh;*/
/*    !*font-size: 2.5rem;*!*/
/*}*/

/*.news_img_p {*/
/*    !*font-size: 2.5rem;*!*/
/*    */
/*    margin: 0px;*/
/*    text-align: center;*/
/*}*/

.news_det_text {
    font-size: 1.5rem;
    margin: 0px
}

.news_det_type {
    font-size: 2rem;
    color: #777;
    margin: 0px;
}

.hiw_header {
    /*font-size: 1.2rem;*/
    font-weight: 700;
    text-align: center;
}
.fz_12rem{
    font-size: 1.2rem;
}
.hiw_text {
    /*font-weight: 400;*/
    text-align: center;
}

.hiw_links {
    color: black;
}

.hiw_links:hover {
    text-decoration: none;
    color: black;
}

.hiw_lnk {
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);*/
    border-radius: 5px;
    transition: 0.3s;
}

.hiw_lnk:hover {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.hiw_btn {
    border: 1px solid #3E789D;
    border-radius: 5px;
    background-color: white;
    color: #3E789D;
    padding: 10px;
    font-size: 1.4rem;
    transition: 0.5s;
}

.hiw_btn:hover {
    background-color: #3E789D;
    color: white;
    transition: 0.5s;
}
.hiw_btn-red {
    border: 1px solid #AF4B53;
    border-radius: 5px;
    background-color: white;
    color: #AF4B53;
    padding: 10px;
    font-size: 1.4rem;
    transition: 0.5s;
}

.hiw_btn-red:hover {
    background-color: #AF4B53;
    color: white;
    transition: 0.5s;
}
.hiw_headers {
    font-size: 2.5rem;
    text-align: center;
    margin: 0px;
}

/*.hiw_block1 {*/
/*    background-color: rgba(62, 120, 157, 0.3);*/
/*}*/

/*.hiw_block2 {*/
/*    background-color: rgba(62, 120, 157, 0.5);*/
/*}*/

.safety_btn {
    border: 1px solid #3E789D;
    padding: 5px;
    width: 100%;
}

.safety_btn_not_choosen {
    background-color: white;
    color: #3E789D;
}

.safety_btn_choosen {
    background-color: #3E789D;
    color: white;
}

.safety_btn_not_choosen:hover {
    background-color: rgba(62, 120, 157, 0.5);
    /*color: #3E789D;*/
}
#div_executor{
    display: none;
}
.link_cities{
    /*text-decoration: underline!important;*/
    color: black;
}
.link_cities:hover{
    color: black;
}

.bg_color_FAF9F7{
    /*background-color: #FAF9F7;*/
    background-color: rgba(216,216,216,.5);
}
.color_black{
    color: black;
}

.color_black:hover{
    color: black;
}
.fw_700{
    font-weight: 700;
}
.fz_2rem{
    font-size: 2rem;
}
.fz_15rem{
    font-size: 1.5rem;
}
.fz_25rem{
    font-size: 2.5rem;
}
.fz_3rem{
    font-size: 3rem;
}
.block_hr{
    width: 100%;
    /*border-color: ;*/
    border-top: 2px solid #3E789D;
}
.bg_color_white{
    background-color: white;
}
.bg_color_e7e7e7{
    background-color: #e7e7e7;
}
.bg_color_blue_opac{
   background-color: rgba(62, 120, 157, 0.4);
}
.line_height_2{
    line-height: 2;
}
.search_dropdown{
    position: absolute;
    /*left: 30%;*/
    /*width: 50%;*/
    z-index: 200;
    top: 0;
    background-color: white;
}
.cursor_inherit{
    cursor: inherit;
}

.mch_btn{
    background-color: white;
    color: #3E789D;
    border: 1px solid #3E789D;
    /*border-bottom: none;*/
    width: 100%;
    font-size: 2rem;
    border-radius: 7px;
    /*border-top-left-radius: 7px;*/
    /*border-top-right-radius: 7px;*/
    /*padding: 3px 10px;*/
    /*margin: 0px 5px;*/
    /*text-decoration: none;*/
}
.mch_btn:hover{
    color: white;
    background-color: #3E789D;
}
.help_i,
.search-res_i {
    /*color: #777777;*/
    opacity: 0.5;
    font-size: 1.3rem;
}
.help_a,
.search-res_a {
    color: black;
    text-decoration: none;
}
.help_a:hover {
    color: #3E789D;
}
.help_li,
.search-res_li {
    list-style-type: none;
}
.search-res_a:hover {
    text-decoration: none;
    color: black;
}
.search-res_p:hover {
    cursor: pointer;
    text-decoration: underline;
}
.search_input_drop{
    /*border: 1px solid black;*/
    /*border-bottom: none;*/
    box-shadow:0 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.search_input_drop_el{
    border: none;
    /*border-bottom: 1px solid black;*/
    /*background-color: white;*/
    /*background-image: linear-gradient(to top, white, rgba(0,0,0,0.1));*/
    background: none;
    /*line-height: 2;*/
}
.sid_focus{
    background-color: rgba(62, 120, 157, 0.3);
}
.search_input_drop_el:hover{
    /*cursor: pointer;*/
    background-color: rgba(62, 120, 157, 0.2);
}
.color_gray{
    color: #777777;
}



.top-bg {
    background: #f3f3f3;
    border-radius: 5px;
    padding: .3rem 1rem .3rem 1rem;
}

.top-a {
    color: #555555;
}

.top-a:hover {
    color: #555555;
    text-decoration: underline;
}

hr.line {
    background: #ddd;
    border: none;
    height: 1px;
    width: 100%;
}

.user-img {
    border-radius: 50%;
}

.user-name {
    font-size: 1.6rem;
    margin: 0px;
    line-height: 1;
}

.user-work-bttn {
    font-size: 1.1rem;
    font-weight: 400;
    background: rgba(175, 75, 83, .7);
    color: white;
    border: 1px solid rgba(175, 75, 83, .7);
    padding: .5rem 1.2rem .5rem 1.2rem;
    border-radius: 5px;
    transition: .3s;
}

.user-work-bttn:hover {
    background: none;
    color: #AF4B53;
    transition: .3s;
}

.rating-com {
    font-weight: 700;
    font-size: 2rem;
}

.category-head-img {
    background: url("../image/bg-cat.jpg") no-repeat center center;
    background-size: cover;
    height: 30vh;
}

.category-head-fon {
    background: rgba(0, 0, 0, .3);
    height: 100%;
}

.category-head {
    font-weight: 400;
    color: white;
    font-size: 3rem;
}
.no-style-a{
    color: black;
}
.no-style-a:hover{
    text-decoration: none;
    color: black;
}

.title-l-r {
    overflow: hidden;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;
    color: white;
}
.title-l-r span {
    display: inline-block;
}
.title-l-r:before,
.title-l-r:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: white;
    position: relative;
}
.title-l-r:before {
    margin-left: -100%;
    left: -14px;
}
.title-l-r:after {
    margin-right: -100%;
    right: -14px;
}
.span-title{
    font-weight: 300;
    font-size: 1.1rem;
    color: white;
}

.bg-img-count1{
    background: url('../image/man.png') no-repeat center left;
    background-size: 100%;
}
.bg-img-count2{
    background: url('../image/clipboard.png') no-repeat center left;
    background-size: 100%;
}
.bg-img-count3{
    background: url('../image/man_1.png') no-repeat center left;
    background-size: 100%;
}
.bg-img-count4{
    background: url('../image/clipboard_1.png') no-repeat center left;
    background-size: 100%;
}
.bg-img-count5{
    background: url('../image/clipboard_2.png') no-repeat center left;
    background-size: 100%;
}
.bg-img-count6{
    background: url('../image/chat_1.png') no-repeat center left;
    background-size: 100%;
}
.bg-img-white{
    background: rgba(255,255,255,.8);
}

/*------страница Вход и Регистрация------*/

.login-block,
.register-block {
    height: auto;
    margin: 60px 0;
    border-top: 2px solid rgba(216, 216, 216, 0.5);;
    border-bottom: 2px solid rgba(216, 216, 216, 0.5);;
}
.login-block h3,
.register-block h3 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 34px;
    line-height: 45px;
    text-align: center;
}
.login-block p {
    margin: 0;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: rgba(51, 51, 51, 0.9);
}
.register-link,
.login-form {
    padding: 55px 60px;
}
.register-form,
.register-right {
    padding: 75px 60px;
}
.register-link button {
    padding: 0;
    padding: 7px 30px;
    font-size: 20px;
    background: #AF4B53;
    border: 1px solid transparent;
}
.register-link button:hover {
    background: none;
    border: 1px solid #AF4B53;
    color: #AF4B53;
}
.register-form button {
    padding: 0;
    padding: 7px 25px;
    margin-top: 10px;
    font-size: 20px;
    border: 1px solid #AF4B53;
    color: #AF4B53;
    transition: .3s;
}
.register-form button:hover {
    background: #AF4B53;
    border: 1px solid #AF4B53;
}
.login-form,
.register-form {
    background: rgba(216, 216, 216, 0.7);
}
.login-form .form-control,
.register-form .form-control {
    padding: 0;
    padding-left: 15px ;
    font-size: 20px;
    /*border: none;*/
}
.register-form .form-control::-webkit-input-placeholder {
    color: #C4C4C4;
}
.register-form .form-control:focus::-webkit-input-placeholder {
    color: transparent;
}
.login-form .form-control::-webkit-input-placeholder {
    color: #C4C4C4;
}
.login-form .form-control:focus::-webkit-input-placeholder {
    color: transparent;
}
.form-group {
    margin-bottom: 20px;
}
.login-form button {
    padding: 0;
    padding: 7px 35px;
    margin-top: 10px;
    font-size: 20px;
    color: #3E789D;
    border: 1px solid #3E789D;
    transition: .3s;
}
.login-form button:hover {
    background: #3E789D;
    color: #FFFFFF;
    border: 1px solid #3E789D;
}
.register-right p {
    font-size: 18px;
    color: rgba(51, 51, 51, 0.9);
}
.register-right span {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: #000000;
}
.register-text {
    margin: 0;
    margin: 55px 0;
    font-size: 20px;
    line-height: 25px;
    color: rgba(51, 51, 51, 0.9);
}
.register-right .fontCategorySmall {
    font-size: 15px;
}
@media (min-width: 320px) and (max-width: 992px) {
    .login-block h3,
    .register-form h3 {
        font-size: 28px;
    }
    .register-link,
    .login-form,
    .register-form {
        padding: 30px 20px;
    }
    .register-right p {
        font-size: 16px;
    }
    .register-text {
        font-size: 16px;
    }
    .register-right .fontCategorySmall {
        font-size: 12px;
    }
}
/*-----------------------*/
.send-btn{
    background:none;
    border: 1px solid #AF4B53;
    color: #AF4B53;
    padding: .3rem 1rem .3rem 1rem;
    border-radius: 5px;
    transition: .3s;
}
.send-btn:hover{
    background: #AF4B53;
    color: white;
    transition: .3s;
}
/*---Оферта и Правила конфиденц---*/
.offer_hdr_bg {
    height: auto;
    min-height: 30vh;
    background: url(/static/image/3eabf99674833ed66719c.jpg) 70% 70% no-repeat;
    background-size: cover;
}
.privacy_hdr_bg {
    height: auto;
    min-height: 30vh;
    background: url(/static/image/privacy_banner.jpg) 60% 20% no-repeat;
    background-size: cover;
}
.offer_hdr_bg_layout,
.rules_hdr_bg_layout,
.privacy_hdr_bg_layout,
.category_hdr_bg_layout {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    color: #FFFFFF;
}
.offer_blk ol,
.privacy_blk ol {
    list-style: none;
    counter-reset: li;
}
.offer_blk ol li:before,
.privacy_blk ol li:before {
    counter-increment: li;
    content: counters(li,".") ".";
    padding-right: 10px;
}
.offer_blk_list > li,
.privacy_blk_list > li {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.offer_blk_inside_list li,
.privacy_blk_inside_list li {
    line-height: 25px;
    font-size: 1.125rem;
    font-weight: normal;
}
/*---------Правила-------*/
.rules_hdr_bg {
    height: auto;
    min-height: 30vh;
    background: url(/static/image/documents.jpg) 30% 30% no-repeat;
    background-size: cover;
}
.rules_blk ol {
    list-style: none;
}
.rules_blk_inside_list {
    list-style: none;
    counter-reset: li;
}
.rules_blk_list > li {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.rules_blk_inside_list li {
    line-height: 25px;
    font-size: 1.125rem;
    font-weight: normal;
    padding-left: 40px;
}
.rules_blk_inside_list li:before {
    counter-increment: li;
    content: counters(li,".") " ";
    position: absolute;
    left: 7rem;
}
.search-res_header {
    margin-top: 7%;
}
.question_blk {
    margin-bottom: 6%;
}
.search-res_span {
    font-size: 1.6rem;
}
.search-res_num {
    font-size: 1.1rem;
}
.question-input {
    border-right: none;
    border-radius: 0;
    font-size: 18px;
    height: 50px;
}
.question-input::-webkit-input-placeholder {
    color: #AAAAAA;
}
.question-input:focus::-webkit-input-placeholder {
    color: transparent;
}
.question-btn {
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 50px;
    background: #AF4B53;
    color: #FFFFFF;
}
.question-btn:hover {
    border: 1px solid #AF4B53;
    color: #AF4B53;
    background: transparent;
}
.category_hdr_bg {
    height: auto;
    min-height: 30vh;
    background: url(/static/image/klining-odincovo-uborka-kvartir-asssfggaa.jpg) 70% 70% no-repeat;
    background-size: cover;
}
.category-info_blk {
    background: rgba(62,120,157,.2);
}
.category-info_text {
    padding: 8% 11%;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.category-card_label {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}
.category-card_text {
    font-size: 1.1rem;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.5);
}
.category-money_label {
    font-weight: bold;
    font-size: 2rem;
    line-height: 45px;
    color: #000000;
}
.category-apply_btn {
    font-size: 1.3rem;
    font-weight: 400;
    background: #AF4B53;
    color: white;
    border: 1px solid transparent;
    padding: .5rem 1.5rem .5rem 1.5rem;
    border-radius: 5px;
    transition: .3s;
}
.category-apply_btn:hover {
    border: 1px solid #AF4B53;
    color: #AF4B53;
    background: transparent;
}
.category-apply_btn:focus {
    outline: #AF4B53;
}
hr.category-line {
    background: #aaaaaa;
    border: none;
    height: 1px;
    width: 100%;
}
.profile-settings_name {
    font-size: 1.8rem;
}
.profile-name_icon {
    width: 5%;
}
.profile-settings_text {
    font-size: 1rem;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.5);
}
.profile-settings_text a {
    text-decoration: underline;
    color: rgb(62, 120, 157);
}
.settings-rew_span {
    line-height: 80px;
    color: #AF4B53;
}
.settings-rew_label {
    font-size: 1rem;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.85);
}
.settings-rew_blk::before {
    position: absolute;
    content: "";
    left: 0;
    height: 80%;
    width: 1px;
    background-color: #AAAAAA;
}
.nav-tabs {
    font-size: 18px;
    line-height: 33px;
    border-bottom: 1px solid #AAAAAA;
    color: #000000;
}
.nav-tabs a {
    color: #000000;
}
.nav-tabs .nav-link {
    margin-right: 5px;
    padding: .5rem 1.5rem;
    border: 1px solid rgba(170,170,170,.5);
    background-color: rgba(170,170,170,.3);
}
.nav-tabs .nav-link:hover {
    color: #000000;
    border: 1px solid rgba(170,170,170,.5);
    border-bottom: 1px solid transparent;
    background: #FFFFFF;
    transition: .3s;
}
.nav-tabs .nav-link.active {
    color: #000000;
    background-color: #fff;
    border-top: 3px solid #AF4B53;
    background-color: #ffffff;
}
.form-group label {
    font-size: 16px;
    color: #000000;
}
.change-password button {
    border: 1px solid transparent;
    height: 40px;
    background: #AF4B53;
    color: #FFFFFF;
}
.change-password button:hover {
    background-color: #FFFFFF;
    color: #AF4B53;
    border: 1px solid #AF4B53;
    transition: .3s;
}
.tooltip {
    line-height: 15px;
}
.tooltip-inner {
    text-align: left;
}
input[type=checkbox] {
	display: none;
}
.custom-checkbox  label::before {
    border-radius: 5px;
    width: 20px;
    height: 20px;
}
input[type=checkbox]:checked + label::after {
	content: "";
    background: #3E789D;
    border: 1px solid #3E789D;
    border-radius: 5px;
    width: 20px;
    height: 20px;
}


@media (min-width: 768px) and (max-width: 992px) {
    .nav-tabs {
        font-size: 16px;
    }
    .nav-tabs .nav-link {
         padding: .5rem 2.5rem;
    }
    .form-group label {
        font-size: 14px;
    }
    .profile-settings_text {
        font-size: .9rem;
    }
}

@media (min-width: 320px) and (max-width: 992px) {
    .rules_blk_inside_list li {
        padding-left: 0;
    }
    .rules_blk_inside_list li:before {
        left: 2rem;
    }
    .question-btn {
        font-size: 1rem;
    }
    .search-res-blk span {
        font-size: 1.3rem;
    }
    .search-res-blk h3,
    .category-quest-blk h3 {
        font-size: 1.5rem;
    }
    .settings-rew_span {
        line-height: 45px;
    }
    .settings-rew_blk::before {
        left: -20px;
        top: -5px;
    }
}
@media (min-width: 320px) and (max-width: 576px) {
    .settings-rew_blk::before {
        height: 90%;
    }
    .nav-tabs .nav-link {
         padding: .5rem 1rem;
    }
    .settings-rew_blk::before {
        left: -10px;
    }
}
