{% extends layout %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid p-0">
    <div class="row justify-content-center">
        <div class=" w-100" style="
    height: auto;
    min-height: 20vh;
    background: url({{MEDIA_URL}}{{sub.image.url}}) 50% 55% no-repeat;
    background-size: cover;
">
            <div class="ques_hdr_bg_layout row justify-content-center align-items-center">
                <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                    <p class="m-0 fz_2rem line_height_1 text-center">{{task.title}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-0 justify-content-center mt-3 task-details">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-0 px-3 px-mb-0 px-lg-0">
            <div class="row justify-content-start">
                <div class="col-12 p-0">
                    <div class="row mt-4 justify-content-start">
                        <div class="col-7 col-md-2 p-0">
                            <a href=""><span class=""><img alt="" class="pr-2" src="/static/image/rate-icon_1.png">{{task.user.first_name}}</span></a>
                        </div>
                        <div class="col-7 col-md-3 p-0">
                            <span class=""><img alt="" class="pr-2" src="/static/image/rate-icon_2.png">{{task.date_add}}</span>
                        </div>
                        <div class="col-6 col-md-2 p-0">
                            {% if task.bet_count == 0 or task.bet_count >= 5 %}
                            <span class=""><img alt="" class="pr-2" src="/static/image/rate-icon_3.png">{{task.bet_count}} ставок</span>
                            {% else %}
                                {% if task.bet_count == 1 %}
                                    <span class=""><img alt="" class="pr-2" src="/static/image/rate-icon_3.png">{{task.bet_count}} ставка</span>
                                {% else %}
                                    <span class=""><img alt="" class="pr-2" src="/static/image/rate-icon_3.png">{{task.bet_count}} ставки</span>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-5 p-0 text-left text-md-right pt-3 pt-md-0">
                            <span class="price-span">{{task.price}} руб.</span>
                        </div></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-0 justify-content-center task-details">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-0 pt-2 px-3 px-mb-0 px-lg-0">
            <div class="row mt-4 justify-content-start d-none d-sm-none d-md-block">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb ads-breadcrumb p-0">
                        <li class="breadcrumb-item"><a href="#">{{task.subcategory.category.name}}</a></li>
                        <li aria-current="page" class="breadcrumb-item active">{{task.subcategory.name}}</li>
                    </ol>
                </nav>
            </div>
            <div class="row mt-4 justify-content-start">
                <div class="col-12 p-0">
                    <div class="row mb-3">
                        <p class="task-details_txt">{{task.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-0 justify-content-center users_rates">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-0 px-3 px-mb-0 px-lg-0">
            <div class="row justify-content-start">
                <hr class="category-line m-0 mb-4 mt-0">
                <div class="col-12 p-0">
                    <div class="row adverts-add_photos mb-3">
                        <div class="col-12 col-md-6 p-0">
                            <span class="rate_span mr-3">Дата выполнения:</span>
                            <b class="rate_b">{{task.date}}</b>
                        </div>
                        <div class="col-12 col-md-6 p-0">
                            <span class="rate_span mr-3">Время:</span>
                            {% if task.start_time == None and task.end_time == None %}
                                <b class="rate_b">в любое время</b>
                            {% else %}
                                <b class="rate_b">с {{task.start_time}} до {{task.end_time}}</b>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-0 justify-content-center users_rates">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-0 px-3 px-mb-0 px-lg-0">
            <div class="row justify-content-start">
                <hr class="category-line m-0 mb-3 mt-2">
                    <div class="col-12 p-0">
                        <div class="row adverts-add_photos">
                            {% for p in task.all_photo %}
                            <div class="col-6 col-sm-6 col-md-3 col-lg-2 col-xl-2 img_wrapper mb-3">
                                <a href="{{MEDIA_URL}}{{p.photo.url}}">
                                    <img alt="{{p.get_type}}" class="img-fluid center-block" src="{% static p.get_type %}">
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 p-0">
                        <div class="row mb-3">
                            <a href="#">
                                <button class="rate-perform_btn mt-md-4 py-1 px-4" data-target="#exampleModalCenter" data-toggle="modal">Сделать ставку</button>
                            </a>
                            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="rate-modal modal fade" id="exampleModalCenter" role="dialog" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-center" id="exampleModalLabel">Сделать ставку</h5>
                                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <textarea class="form-control" id="message-text" placeholder="Введите описание"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control" id="sum-name" placeholder="Введите сумму" type="number">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            {% if verify == True %}
                                            <button class="btn btn-primary" type="button">Сделать ставку</button>
                                            {% else %}
                                            <a class="btn btn-primary" href="{% url 'Login' %}">Сделать ставку</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="row m-0 justify-content-center users_rates">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-0 pb-3 px-3 px-mb-0 px-lg-0">
            <hr class="category-line m-0 my-4">
            <h2 class="m-0 line_height_1 text-left mb-5">Ставки других пользователей</h2>
            <div class="row m-0 justify-content-start">
                {% if verify == True %}
                {% for t in task_bet %}
                <div class="col-12 p-0">
                    <div class="row">
                        <div class="col-8 col-sm-10 col-md-3 col-lg-3 col-xl-2 p-2 mx-auto">
                            <img alt="" class="w-100 img-fluid" src="{{MEDIA_URL}}{{t.user.get_image.photo.url}}">
                        </div>
                        <div class="col-12 col-sm-12 col-md-5 col-lg-6 col-xl-7 pl-2 pr-md-0 pr-lg-2 pr-0 pt-2 mx-auto">
                            <div class="row justify-content-center justify-content-sm-center justify-content-md-between align-items-center mb-2">
                                <a href="#">
                                    <h3 class="propose-category_label m-0">{{t.user.first_name}}</h3>
                                </a>
                            </div>
                            <div class="row justify-content-start align-items-center pt-2">
                                <p class="mb-0 pr-0 perform-card_text pb-2">{{t.description}}</p>
                                <span class="propose-date_span">{{t.date}}</span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 p-1 mx-auto">
                            <div class="row justify-content-between justify-content-sm-between justify-content-md-center align-content-center align-items-center pt-md-0">
                                <label class="propose-money_label mb-2">{{t.price}} руб.</label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="category-line m-0 my-4">
                {% endfor %}
                {% else %}
                <label class="fontCategorySmall colorDarkGrey">Вы сможете видеть ставки других пользвоателей, только после
                    <a href="{% url 'Login' %}">авторизации</a>!</label>
                {% endif %}


            </div>
        </div>
    </div>
</div>

{% endblock %}