{% extends layout %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid p-0">
    <div class="row justify-content-center">
        <div class=" w-100 serv_hdr_bg">
            <div class="ques_hdr_bg_layout row justify-content-center align-items-center">
                <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                    <p class="m-0 fz_2rem line_height_1 text-center">Наши услуги</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-0 justify-content-center mt-3">
        <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-0 pt-2 pt-md-5 pb-3 px-3 px-mb-0 px-lg-0">
            <div class="row m-0 justify-content-start">
                <div class="col-12 p-0">
                    <div class="row">
                        <div class="d-none d-sm-none d-md-block col-8 col-sm-10 col-md-2 col-lg-1 col-xl-1 p-2 my-auto">
                            <img alt="" class="img-fluid" src="/static/image/google-analytics%201.png">
                        </div>
                        <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8 pl-2 pr-md-0 pr-lg-2 pr-0 pt-2 mx-auto">
                            <div class="row justify-content-center justify-content-sm-center justify-content-md-between align-items-center mb-2 service-link">
                                <a href="#">
                                    <h3 class="m-0">Наименование услуги</h3>
                                </a>
                            </div>
                            <div class="row justify-content-start align-items-center pt-2">
                                <p class="mb-0 pr-0 service-card_text pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat....</p>
                            </div>
                        </div>
                        <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2 p-1 mx-auto">
                            <div class="row justify-content-around justify-content-sm-around justify-content-md-center align-content-center align-items-center pt-0">
                                <label class="service-money_label p mb-2">200 руб.</label>
                            </div>
                        </div>
                        <hr class="category-line m-0 my-4">
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row">
                        <div class="d-none d-sm-none d-md-block col-8 col-sm-10 col-md-2 col-lg-1 col-xl-1 p-2 my-auto">
                            <img alt="" class="img-fluid" src="/static/image/google-analytics%201.png">
                        </div>
                        <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8 pl-2 pr-md-0 pr-lg-2 pr-0 pt-2 mx-auto">
                            <div class="row justify-content-center justify-content-sm-center justify-content-md-between align-items-center mb-2 service-link">
                                <a href="#">
                                    <h3 class="m-0">Наименование услуги</h3>
                                </a>
                            </div>
                            <div class="row justify-content-start align-items-center pt-2">
                                <p class="mb-0 pr-0 service-card_text pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat....</p>
                            </div>
                        </div>
                        <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2 p-1 mx-auto">
                            <div class="row justify-content-around justify-content-sm-around justify-content-md-center align-content-center align-items-center pt-0">
                                <label class="service-money_label p mb-2">150 руб.</label>
                            </div>
                        </div>
                        <hr class="category-line m-0 my-4">
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row">
                        <div class="d-none d-sm-none d-md-block col-8 col-sm-10 col-md-2 col-lg-1 col-xl-1 p-2 my-auto">
                            <img alt="" class="img-fluid" src="/static/image/google-analytics%201.png">
                        </div>
                        <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8 pl-2 pr-md-0 pr-lg-2 pr-0 pt-2 mx-auto">
                            <div class="row justify-content-center justify-content-sm-center justify-content-md-between align-items-center mb-2 service-link">
                                <a href="#">
                                    <h3 class="m-0">Наименование услуги</h3>
                                </a>
                            </div>
                            <div class="row justify-content-start align-items-center pt-2">
                                <p class="mb-0 pr-0 service-card_text pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat....</p>
                            </div>
                        </div>
                        <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2 p-1 mx-auto">
                            <div class="row justify-content-around justify-content-sm-around justify-content-md-center align-content-center align-items-center pt-0">
                                <label class="service-money_label p mb-2">500 руб.</label>
                            </div>
                        </div>
                        <hr class="category-line m-0 my-4">
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row">
                        <div class="d-none d-sm-none d-md-block col-8 col-sm-10 col-md-2 col-lg-1 col-xl-1 p-2 my-auto">
                            <img alt="" class="img-fluid" src="/static/image/google-analytics%201.png">
                        </div>
                        <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8 pl-2 pr-md-0 pr-lg-2 pr-0 pt-2 mx-auto">
                            <div class="row justify-content-center justify-content-sm-center justify-content-md-between align-items-center mb-2 service-link">
                                <a href="#">
                                    <h3 class="m-0">Наименование услуги</h3>
                                </a>
                            </div>
                            <div class="row justify-content-start align-items-center pt-2">
                                <p class="mb-0 pr-0 service-card_text pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat....</p>
                            </div>
                        </div>
                        <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2 p-1 mx-auto">
                            <div class="row justify-content-around justify-content-sm-around justify-content-md-center align-content-center align-items-center pt-0">
                                <label class="service-money_label p mb-2">500 руб.</label>
                            </div>
                        </div>
                        <hr class="category-line m-0 my-4">
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row">
                        <div class="d-none d-sm-none d-md-block col-8 col-sm-10 col-md-2 col-lg-1 col-xl-1 p-2 my-auto">
                            <img alt="" class="img-fluid" src="/static/image/google-analytics%201.png">
                        </div>
                        <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8 pl-2 pr-md-0 pr-lg-2 pr-0 pt-2 mx-auto">
                            <div class="row justify-content-center justify-content-sm-center justify-content-md-between align-items-center mb-2 service-link">
                                <a href="#">
                                    <h3 class="m-0">Наименование услуги</h3>
                                </a>
                            </div>
                            <div class="row justify-content-start align-items-center pt-2">
                                <p class="mb-0 pr-0 service-card_text pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat....</p>
                            </div>
                        </div>
                        <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2 p-1 mx-auto">
                            <div class="row justify-content-around justify-content-sm-around justify-content-md-center align-content-center align-items-center pt-0">
                                <label class="service-money_label p mb-2">150 руб.</label>
                            </div>
                        </div>
                        <hr class="category-line m-0 my-4">
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row">
                        <div class="d-none d-sm-none d-md-block col-8 col-sm-10 col-md-2 col-lg-1 col-xl-1 p-2 my-auto">
                            <img alt="" class="img-fluid" src="/static/image/google-analytics%201.png">
                        </div>
                        <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8 pl-2 pr-md-0 pr-lg-2 pr-0 pt-2 mx-auto">
                            <div class="row justify-content-center justify-content-sm-center justify-content-md-between align-items-center mb-2 service-link">
                                <a href="#">
                                    <h3 class="m-0">Наименование услуги</h3>
                                </a>
                            </div>
                            <div class="row justify-content-start align-items-center pt-2">
                                <p class="mb-0 pr-0 service-card_text pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat....</p>
                            </div>
                        </div>
                        <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2 p-1 mx-auto">
                            <div class="row justify-content-around justify-content-sm-around justify-content-md-center align-content-center align-items-center pt-0">
                                <label class="service-money_label p mb-2">200 руб.</label>
                            </div>
                        </div>
                        <hr class="category-line m-0 my-4">
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row">
                        <div class="d-none d-sm-none d-md-block col-8 col-sm-10 col-md-2 col-lg-1 col-xl-1 p-2 my-auto">
                            <img alt="" class="img-fluid" src="/static/image/google-analytics%201.png">
                        </div>
                        <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8 pl-2 pr-md-0 pr-lg-2 pr-0 pt-2 mx-auto">
                            <div class="row justify-content-center justify-content-sm-center justify-content-md-between align-items-center mb-2 service-link">
                                <a href="#">
                                    <h3 class="m-0">Наименование услуги</h3>
                                </a>
                            </div>
                            <div class="row justify-content-start align-items-center pt-2">
                                <p class="mb-0 pr-0 service-card_text pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat....</p>
                            </div>
                        </div>
                        <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2 p-1 mx-auto">
                            <div class="row justify-content-around justify-content-sm-around justify-content-md-center align-content-center align-items-center pt-0">
                                <label class="service-money_label p mb-2">300 руб.</label>
                            </div>
                        </div>
                        <hr class="category-line m-0 my-4">
                    </div>
                </div>

                <div class="row w-100">
                    <div class="col-md-12 mb-5 mt-3">
                        <nav aria-label="...">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a aria-label="Previous" class="page-link" href="#">
                                        <span aria-hidden="true">«</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active">
                    <span class="page-link">1<span class="sr-only">(current)</span>
                    </span>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href=""><span aria-hidden="true">»</span>
                                        <span class="sr-only">Next</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

{% endblock %}