{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid p-0">
<div class="bg-map">
    <div class="bg-color-light w-100 h-100">
        <div class="bg-color w-100 h-100">
            <div class="row m-0 justify-content-center">
                <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 p-0 pt-3 pb-3">

                    <div class="row m-0 justify-content-center pb-4">
                         {% for ct in contact %}
                            {% if ct.name == "email" %}
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 a-center pt-3 pb-3">
                                <i class="fas fa-envelope-open-text contact-icon"></i>
                                {% for c in ct.contact_set.all %}
                                    <label class="contact-text w-100 mb-0"><a href="mailto:{{c.name}}" class="contact-a">{{c.name}}</a></label>
                                {% endfor %}
                            </div>
                            {% else %}
                                {% if ct.name == "телефон" %}
                                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 a-center pt-3 pb-3">
                                    <i class="fas fa-phone-alt contact-icon"></i>
                                    {% for c in ct.contact_set.all %}
                                        <label class="contact-text w-100 mb-0"><a href="tel:{{c.name}}" class="contact-a">{{c.name}}</a></label>
                                    {% endfor %}
                                </div>
                                {% else %}
                                    {% if ct.name == "время работы" %}
                                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 a-center pt-3 pb-3">
                                        <i class="fas fa-clock contact-icon"></i>
                                        {% for c in ct.contact_set.all %}
                                            <label class="contact-text w-100 mb-0">{{c.name}}</label>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="row justify-content-center align-items-center">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 a-center pt-3 pb-3">
                            <div class="row justify-content-center pb-4">
                                <h3 class="fw_700">Напишите нам</h3>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 form-group">
                                    <input type="text" class="form-control" placeholder="Имя" />
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 form-group">
                                    <input type="text" class="form-control" placeholder="E-mail" />
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 form-group">
                                    <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Сообщение"></textarea>
                                </div>
                                <div class="col-12">
                                    <a href="{% url 'Dev' %}">
                                        <button class="send-btn fz_12rem">Отправить</button>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 a-center pt-3 pb-3">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2668.6972399698293!2d37.79851431588182!3d48.01955886735197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e0901357a3c079%3A0x6980cfa17d2d2f1c!2z0YPQuy4g0JDRgNGC0LXQvNCwLCAxMDIsINCU0L7QvdC10YbQuiwg0JTQvtC90LXRhtC60LDRjyDQvtCx0LvQsNGB0YLRjCwgODMwMDA!5e0!3m2!1sru!2sua!4v1573558526489!5m2!1sru!2sua" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}