<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'image/favicon.ico' %}">
</head>
<body>
<div class="container-fluid p-0">
    <div class="row rec_ser m-0 justify-content-center" id="about">
        <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 p-0 pt-3 pb-3">
            <div class="row justify-content-between align-items-center">

                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-4 px-2">
                    <div class="row align-items-center">
                        <div class="col-12 text-center p-0">
                            <a data-toggle="modal" data-target="#modal_city" href="" class="head_icon_color"> <i
                                    class="fas fa-map-marked-alt fz_2rem d-inline d-sm-inline d-md-none d-lg-none d-xl-none"></i></a>

                            <a data-toggle="modal" data-target="#modal_city" href=""
                               class="d-none d-sm-none d-md-flex d-lg-flex d-xl-flex">
                                {% if city != 0 %}
                                    {{ city }}
                                {% else %}
                                    Выберите город
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-6 col-xl-4 p-0">
                    <div class="row justify-content-center">
                        <div class="col-10 col-sm-10 col-md-9 col-lg-9 col-xl-9 p-0 ">
                            <input type="text" id="main_input_header"
                                   class="form-control search-input"
                                   placeholder="Напишите, чем вам помочь"
                                    autocomplete="off">

                        </div>
                        <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3 p-0">

                            <button type="button" id="btn_head_submit"
                                    class="form-control btn chColorFull search-bttn  p-0">
                                <i class="fas fa-search w-100 d-inline s-sm-none d-md-none d-lg-none d-xl-none"></i>
                                <p class="p-0 w-100 text-center d-none s-sm-inline d-md-inline d-lg-inline d-xl-inline">
                                    Найти </p>
                            </button>

                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center position-relative bg_color_white">
                        <div class="col-12 p-0 search_dropdown">
                            <div class="col-12 search_input_drop p-0" id="res_list_header" style="display: none"></div>
                        </div>
                    </div>
                </div>

                <div class="col-2 col-sm-2 col-md-2 col-lg-4 col-xl-4 px-2 text-right">
                    <div class="row justify-content-end d-none s-sm-none d-md-none d-lg-flex d-xl-flex">
                        <div class="col-lg-5 col-xl-3 px-0">
                            <a href="{% url 'Login' %}">
                                <button type="button" class="w-100 align-middle btn DisableBorder colorRed ">
                                    Войти
                                </button>
                            </a>
                        </div>
                        <div class="col-lg-6 col-xl-4 p-0">
                            <a href="{% url 'Register' %}">
                                <button type="button" class="w-100 btn btn-outline chColorBorder colorSearch ">
                                    Регистрация
                                </button>
                            </a>
                        </div>
                    </div>

                    <div class="row justify-content-center dropdown d-flex s-sm-flex d-md-inline d-lg-none d-xl-none">
                        <a href="{% url 'Login' %}" class="head_icon_color"><i class="fas fa-user fz_2rem"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-0 fix-top">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 p-0 ">
            <div class="row">
                <div class="col-12 px-0">
                    <nav id="top-a" class="navbar navbar-expand-lg navbar-light px-0 p-0">
                        <div class="col-7 pl-0 col-sm-7 col-md-4 col-lg-3 col-xl-2">
                            <a class="navbar-brand" href="{% url 'Main' %}">
                                <img src="{% static 'image/logo.png' %}" class="w-100" alt="">
                            </a>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
                                aria-expanded="false" aria-label="Toggle navigation">Меню
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end px-0" id="navbarTogglerDemo02">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-11 col-xl-11 px-0">
                                <ul class="navbar-nav justify-content-around text-center">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'About' %}">
                                            <label class="mb-0 fz_13rem">О нас</label>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'Task' %}">
                                            <label class="mb-0 fz_13rem">Задания</label>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="{% url 'Advert' %}">
                                            <label class="mb-0 fz_13rem">Объявления</label>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="{% url 'New' %}">
                                            <label class="mb-0 fz_13rem">Новости</label>
                                        </a>
                                    </li>
<!--                                    <li class="nav-item">-->
<!--                                        <a class="nav-link " href="{% url 'Service' %}">-->
<!--                                            <label class="mb-0 fz_13rem">Услуги</label>-->
<!--                                        </a>-->
<!--                                    </li>-->
                                    <li class="nav-item">
                                        <a class="nav-link " href="{% url 'Help' %}">
                                            <label class="mb-0 fz_13rem">Ответы</label>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="{% url 'Contact' %}">
                                            <label class="mb-0 fz_13rem">Контакты</label>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="main_block_content">
    {% block content %}

    {% endblock %}
</div>

<div class="container-fluid p-0" id="main_footer">
    <!-- Footer -->
    <footer class="page-footer font-small colorBlue pt-5">
        <!-- Footer Links -->
        <div class="container text-center text-md-left">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold mt-3 mb-4">Как мы работаем</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'How_it_work' %}">Как заказать услугу</a>
                        </li>
                        <li>
                            <a href="{% url 'Rabota' %}">Как стать исполнителем</a>
                        </li>
                        <li>
                            <a href="{% url 'For_business' %}">Преимущества для компаний</a>
                        </li>
                        <li>
                            <a href="{% url 'Safety' %}">Гарантии и безопасность</a>
                        </li>
                        <li>
                            <a href="{% url 'Secure_transaction' %}">Безопасная сделка</a>
                        </li>
                        <li>
                            <a href="{% url 'Top_performers' '0' %}">Топ исполнителей</a>
                        </li>
                        <li>
                            <a href="{% url 'All_category' %}">Все категории услуг</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-3 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold mt-3 mb-4">Помощь</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'Help' %}">Вопрос / ответ</a>
                        </li>
                        <li>
                            <a href="{% url 'Public_offer' %}">Публичная оферта</a>
                        </li>
                        <li>
                            <a href="{% url 'Privacy_rules' %}">Правила конфиденциальности</a>
                        </li>
                        <li>
                            <a href="{% url 'Rules' %}">Правила проекта</a>
                        </li>
                        <li>
                            <a href="{% url 'Contact' %}">Служба поддержки</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-3 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold mt-3 mb-4">О проекте</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'About' %}">О нас</a>
                        </li>
                        <li>
                            <a href="{% url 'Contact' %}">Контакты</a>
                        </li>
                        <li>
                            <a href="{% url 'New' %}">Новости</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-9 col-sm-8 col-md-3 col-lg-4 col-xl-3 mt-4 sochial m-auto">

                    <div class="row justify-content-between">

                        {#                        div.#}

                        {% for l in link %}
                            <div class="col-2 col-sm-2 col-md-6 col-lg-3 col-xl-3 p-1  justify-content-center">
                                <div class="circle">
                                    <a href="{{ l.link }}">
                                        {% autoescape off %}{{ l.icon }}{% endautoescape %}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <ul class="list-unstyled mt-3">
                        {% for ct in contact %}
                            {% if ct.name == "email" %}
                                {% for c in ct.contact_set.all %}
                                    <li>
                                        <a href="mailto:{{ c.name }}">{{ c.name }}</a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                {% if ct.name == "телефон" %}
                                    {% for c in ct.contact_set.all %}
                                        <li>
                                            <a href="tel:{{ c.name }}">{{ c.name }}</a>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    {% for c in ct.contact_set.all %}
                                        <li>
                                            <a href="#!">{{ c.name }}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 colorDarkBlue">© 2019 Copyright:
            <a href="https://vk.com/webdevgroup">Web Dev Group</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    {#    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="modal_city">Large modal</button>#}
    <!--    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Large modal</button>-->

    <div class="modal fade bd-example-modal-xl" id="modal_city" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" style="z-index: 200">

            <div class="modal-content bg_color_e7e7e7">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Выберите город</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="accordion md-accordion" id="accordion_cities" role="tablist"
                         aria-multiselectable="true">

                        {% for reg in regions %}

                            <div class="card">
                                <div class="card-header" id="cities_{{ reg.id }}">
                                    <a class="collapsed"
                                       data-toggle="collapse"
                                       href="#cities_collapse_{{ reg.id }}"
                                       aria-expanded="false"
                                       aria-controls="cities_collapse_{{ reg.id }}">
                                        <h5 class="mb-0">
                                            {{ reg.name }} <i class="fas fa-angle-down rotate-icon"></i>
                                        </h5>
                                    </a>
                                </div>

                                <div id="cities_collapse_{{ reg.id }}"
                                     class="collapse"
                                     aria-labelledby="cities_{{ reg.id }}"
                                     data-parent="#accordion_cities">
                                    <div class="card-body row p-2">
                                        {% for i in reg.cities %}
                                            <div class="col-9 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                                                {% if regs == reg.name and city == i.name %}
                                                    <a class="link_cities" href=""
                                                       data-region="{{ reg.name }}"><b>{{ i.name }}</b></a>
                                                {% else %}
                                                    <a class="link_cities" href=""
                                                       data-region="{{ reg.name }}">{{ i.name }}</a>
                                                {% endif %}

                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="wrapper">
    <div class="send-box pl-3 pr-3 pb-3 pt-2 active-info" id="send-box">
        <div class="row m-0 mb-2 justify-content-end">
            <button class="cancel-btn" id="cancel-btn">
                x
            </button>
        </div>
<!--        <div class="row m-0">-->
<!--            <label>Оставьте отзыв о сервисе и получите бонусы!</label>-->
<!--        </div>-->
        <div class="row m-0">
            <a href="{% url 'Newbies' %}">
                <button class="rate-perform_btn pl-3 pr-3 w-100">БОНУСЫ НОВИЧКАМ</button>
            </a>
        </div>

    </div>
</div>
<script src="https://kit.fontawesome.com/2c9fd467ea.js"></script>

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"-->
<!--        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="-->
<!--        crossorigin="anonymous"></script>-->
<script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<!--<script src="{% static 'js/bootstrap.js' %}"></script>-->
<!--<script src="{% static 'js/bootstrap.min.js' %}"></script>-->
<script src="{% static 'js/main.js' %}"></script>
<!--    <script type = "text/javascript" src = "https://cdn.jsdelivr.net/jquery/latest/jquery.min.js" > </script>-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

</body>
</html>