
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <title></title>
</head>
<body>
<div style="text-align: center">
    <a target="_blank"><img src="http://work-proj.herokuapp.com/static/image/logo.png" alt="icon" width="300"></a>
</div>
<div style="text-align: center">
            <h2 style="color: black">Вы успешно зарегистрировались!</h2>
</div>
<div style="text-align: center">
            <h2 style="color: black">Для доступа в личный кабинет перейдите по ссылке ниже используйте следующие данные:</h2>
</div>
<div style="text-align: center">
            <h3 style="color: black"><a href="http://work-proj.herokuapp.com/">http://work-proj.herokuapp.com/</a></h3>
</div>
<div style="text-align: left">
            <h3 style="color: black;display: inline-block;">Логин: </h3>
            <h3 style="color: black;display: inline-block;font-weight: 400;">{{email}}</h3>
</div>
<div style="text-align: left">
            <h3 style="color: black;display: inline-block;">Пароль: </h3>
            <h3 style="color: black;display: inline-block;font-weight: 400;">{{pass}}</h3>
</div>
<!--<div style="text-align: center">-->
<!--            <p style="color: black">Для доступа в личный кабинет нажмите на кнопку ниже для подтверждения Email</p>-->
<!--</div>-->
<!--<div style="text-align: center">-->
<!--    <div style="padding: 10px 30px 10px 30px;background: rgb(62,120,157);border-radius: 5px;color:white;width: fit-content;display: inline-block;font-size: 15px"><a href="http://work-proj.herokuapp.com/verify/{{key}}" target="_blank" style="color: white;">Подтвердить Email</a></div>-->
<!--</div>-->
</body>
</html>